/**
 * I. Base Styles
 *
 * Styles generally for generic html elements. Classed or IDed
 * elements should typically be included in the Modules section.
 *
 * Table of Contents
 *
 * A. Typography
 * B. Tables
 * C. Forms
 * D. Search
 * E. Buttons
 * F. Hyphenation
 */

html{
	box-sizing: border-box;
}

*{
	box-sizing: inherit;
}

/**
 * For the following, I am taking pity on IE8- because I'm using
 * the appropriate double-colon syntax for pseudo-elements. If I
 * condensed this style declaration with the above *, IE8- would
 * choke on the whole thing, breaking the border-box declaration
 * for the universal selector.
 */
*::before,
*::after{
	box-sizing: inherit;
}

body{
	// box model
	margin: 0;
	min-height: 100vh;
	// layout
	align-items: center;
	display: flex;
	flex-direction: column;
	// backgrounds & borders
	background-color: hsl(0, 0%, 95%);
}

img,
svg{
	border-width: 0;
	height: auto;
	width: auto;
	max-width: 100%;
}

audio{
	max-width: 100%;
}

video{
	height: auto;
	width: 100%;
}

/**
 * A. Typography
 */
@import "base/typography";

/**
 * B. Tables
 */
table{
		// box model
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 0;
    margin: 1.481481481481481em 0;  // 20/13.5
    width: 100%;
    max-width: 100%;
}

caption{  // styled after h4
	// box model
	margin: 0 0 0.53571428571429em 0;  // 7.5/14
	@include base-type;
	font-style: italic;
	
	@include breakpoint($gamora){
		// box model
		margin: 0 0 0.38997504159734em 0;  // 7.5/19.232
		// typography
		@include base-type-xl;
	}
	
	@include breakpoint($groot){
  	// box model
    margin-top: 0.54537521815009em;  //15/27.504
    // typography
    font-size: 1.719rem;  //27.504px  Step 3
    line-height: 1.090750436300175;  //30/27.504
	}
}

th,
td{
	text-align: left;
}
th{
	color: #000;
	padding: 0 1.111111111111111em 0 0;
	vertical-align: bottom;
}
tbody th,
td{
	// box model
	border: 0 solid #ccc;
	border-top-width: 1px;
	padding: 0.37037037037037em 1.111111111111111em 1.111111111111111em 0;  // 5/13.5  15/13.5
	// typography
	color: #333;
  font-feature-settings: "lnum", "tnum";  // "lnum" is needed for lining numbers in Firefox.
	font-variant-numeric: lining-nums tabular-nums;  // "lining-nums" is not applying in Firefox.
	vertical-align: top;
}
tbody > tr:first-child > th{
	border-top-color: black;
}
td:last-child{
	padding-right: 0;
}
td strong,
tfoot td{
	color: #000;
	font-weight: bold;
}
tr:first-child td{
	border-color: #000;
}

// Collapse top space between cell padding and element margins.
th > p:first-child,
td > p:first-child,
td > ul:first-child,
td > ol:first-child,
td > ul:first-child li:first-child > p:first-child,
td > ol:first-child li:first-child > p:first-child,
td > h1:first-child,
td > h2:first-child,
td > h3:first-child,
td > h4:first-child,
td > h5:first-child,
td > h6:first-child{
    margin-top: 0;
}
// Collapse bottom space between cell padding and element margins.
th > p:last-child,
td > p:last-child,
td > ul:last-child,
td > ol:last-child,
td > ul:last-child li:last-child > p:last-child,
td > ol:last-child li:last-child > p:last-child{
    margin-bottom: 0;
}

@import "base/tables";

/**
 * C. Forms
 */
input,
select,
textarea{
	// box model
	border: 1px solid mix($tint, $blueberry-susan, 60%);
	//typography
	font-family: $text-face;
	@include base-type;
	// backgrounds & borders
	border-radius: 2px;
	
	&:focus{
		// misc
		box-shadow: 0 0 2px 1px $drop-shadow;
	}
	
	@include breakpoint($gamora){
		@include base-type-lg;
	}
}

input{
	// box model
	height: 1.719rem;
	margin-bottom: 1.262201279030629em; //15/11.884
	padding: 0 .5em;
	// typography
	font-size: 1em;
}

select{
	// box model
	@include margin-default;
	padding: 0.30357142857143em .5em;  //4.25/14 So, (4.25 * 2) + 14 = 22.5
	// typography
	text-shadow: 0 1px 0 $highlight;
	// misc
	/*-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;*/
	box-shadow: 0 .1em .1em $drop-shadow inset;
	cursor: pointer;
	
	&:hover{
		// box model
		border-bottom-style: dashed;
		// backgrounds & borders
		background-color: mix($tint, $blueberry-susan, 90%);
	}
	
	/*@media screen and (min-width: 43em){
		// box model
		padding: 0.23529411764706em .5em;  //4/17 So, (4 * 2) + 17 = 25;
		// typography
		@include base-type-lg;
	}*/
}

textarea{
	// box model
	@include margin-default;
	padding: 0.5em 0.75em;
	
	@include breakpoint($gamora){
		// box model
		@include margin-default-lg;
	}
}

/**
 * D. Search
 */
@import "modules/search";

/**
 * E. Buttons
 */
@import "base/buttons";

/**
 * F. Hyphenation
 */
/*a,  //keep linked words whole
a:link,
.intro,
.pull-quote,
.big-fact{
	hyphens: none;
}*/

.looong-word{  // For words that are so long they may cause overflow, like dichlorodiphenyltrichloroethane. Holy crap!
    word-wrap: break-word;  // Firefox, IE
    overflow-wrap: break-word;  // W3C
}