/**
 * I. Base Styles
 *
 * Styles generally for generic html elements. Classed or IDed
 * elements should typically be included in the Modules section.
 *
 * Table of Contents
 *
 * A. Typography
 * B. Tables
 * C. Forms
 * D. Search
 * E. Buttons
 * F. Hyphenation
 */

html{
	box-sizing: border-box;
}

*{
	box-sizing: inherit;
}

/**
 * For the following, I am taking pity on IE8- because I'm using
 * the appropriate double-colon syntax for pseudo-elements. If I
 * condensed this style declaration with the above *, IE8- would
 * choke on the whole thing, breaking the border-box declaration
 * for the universal selector.
 */
*::before,
*::after{
	box-sizing: inherit;
}

body{
	// box model
	margin: 0;
	min-height: 100vh;
	// layout
	align-items: center;
	display: flex;
	flex-direction: column;
	// backgrounds & borders
	background-color: hsl(0, 0%, 95%);
}

img,
svg{
	border-width: 0;
	height: auto;
	width: auto;
	max-width: 100%;
}

audio{
	max-width: 100%;
}

video{
	height: auto;
	width: 100%;
}

iframe{
	width: 100%;
}

.iframe-ratio-16-9{  // 16:9 ratio
	// box model
	height: 0;
	//padding-top: 25px;
	padding-bottom: 56.25%;
	// position
	position: relative;
}

.iframe-ratio-16-9 > iframe{
	// box model
	height: 100%;
	width: 100%;
	// position
	position: absolute;
	top: 0;
	left: 0;
}

/**
 * A. Typography
 */
@import "base/typography";

/**
 * B. Tables
 */
table{
		// box model
		border-collapse: collapse;
		border-spacing: 0;
		border-width: 0;
		margin: 2.14285714285714em 0 3.21428571428571em;  // 30/14  45/14
		width: 100%;
		max-width: 100%;
		// typography
		@include base-type;
}

caption{  // styled after h4
	// box model
	margin: 0 0 0.41666666666667em 0;  // 7.5/18
	@include base-type-lg;
	font-style: italic;
	
	@include breakpoint($gamora){
		// box model
		margin: 0 0 0.39003588330126em 0;  // 7.5/19.229
		// typography
		@include base-type-xl;
	}
	
	@include breakpoint($groot){
  	// box model
    margin-top: 0.51503914297487em;  // 15/29.124
    // typography
    font-size: 1.82rem;  // 29.124px  Step 3
    line-height: 1.03007828594973;  // 30/29.124
	}
}

tr.even,  // Drupal theme overrides
tr.odd{
	// box model
	border-bottom-width: 0;
	padding: 0;
	background-color: transparent;
}

th,
td{
	text-align: left;
}

th{
	border-bottom-width: 0;  // Drupal theme override
	color: $shade;
	padding: 0 1.111111111111111em 0 0;
	vertical-align: bottom;
}

tbody th,
td{
	// box model
	border: 0 solid #ccc;
	border-top-width: 1px;
	padding: 0.37037037037037em 1.111111111111111em 1.111111111111111em 0;  // 5/13.5  15/13.5
	// typography
	color: #333;
  font-feature-settings: "lnum", "tnum";  // "lnum" is needed for lining numbers in Firefox.
	font-variant-numeric: lining-nums tabular-nums;  // "lining-nums" is not applying in Firefox.
	vertical-align: top;
}

tbody > tr:first-child > th,
tbody > tr:first-child > td{
	border-top-color: $shade;
}

td:last-child{
	padding-right: 0;
}

td strong,
tfoot td{
	color: $shade;
	font-weight: bold;
}

/*tr:first-child td{
	border-color: #000;
}*/

// Collapse top space between cell padding and element margins.
th > :first-child,
td > :first-child,
td > ul:first-child li:first-child > p:first-child,
td > ol:first-child li:first-child > p:first-child{
    margin-top: 0;
}
// Collapse bottom space between cell padding and element margins.
th > :last-child,
td > :last-child,
td > ul:last-child li:last-child > p:last-child,
td > ol:last-child li:last-child > p:last-child{
    margin-bottom: 0;
}

@import "base/tables";

/**
 * C. Forms
 */
input,
select,
textarea{
	// box model
	border: 1px solid mix($tint, $blueberry-susan, 60%);
	//typography
	font-family: $text-face;
	@include base-type;
	// backgrounds & borders
	border-radius: 2px;
	
	&:focus{
		// misc
		box-shadow: 0 0 2px 1px $drop-shadow;
	}
	
	@include breakpoint($gamora){
		@include base-type-lg;
	}
}

input{
	// box model
	height: 1.875rem;  // Step 3
	margin-bottom: 1.262201279030629em; // 15/11.884
	padding: 0 .5em;
	// typography
	font-size: 1em;
}

select{
	// box model
	@include margin-default;
	padding: 0.30357142857143em .5em;  // 4.25/14 So, (4.25 * 2) + 14 = 22.5
	// typography
	text-shadow: 0 1px 0 $highlight;
	// misc
	box-shadow: 0 .1em .1em $drop-shadow inset;
	cursor: pointer;
	
	&:hover{
		// box model
		border-bottom-style: dashed;
		// backgrounds & borders
		background-color: mix($tint, $blueberry-susan, 90%);
	}
}

textarea{
	// box model
	@include margin-default;
	padding: 0.5em 0.75em;
	
	@include breakpoint($gamora){
		// box model
		@include margin-default-lg;
	}
}

input[type="checkbox"]{
	height: calc(14 / 16 * 1rem);
	
	@include breakpoint($gamora){
		height: calc(18 / 16 * 1rem);
	}
	
	@include breakpoint($groot){
		height: calc(19.229 / 16 * 1rem);
	}
}

.sidebar input[type="checkbox"]{
	height: calc(14 / 16 * 1rem);
	
	@include breakpoint($groot){
		height: calc(18 / 16 * 1rem);
	}
}

/**
 * D. Search
 */
@import "modules/search";

/**
 * E. Buttons
 */
@import "base/buttons";

/**
 * F. Hyphenation
 */
/*a,  //keep linked words whole
a:link,
.intro,
.pull-quote,
.big-fact{
	hyphens: none;
}*/

.looong-word{  // For words that are so long they may cause overflow, like dichlorodiphenyltrichloroethane. Holy crap!
    word-wrap: break-word;  // Firefox, IE
    overflow-wrap: break-word;  // W3C
}