/**
 * II. Layout Styles
 *
 * Styles for overarching page layout elements like main columns,
 * rows, and wrappers.
 *
 * Table of Contents
 *
 * A. Grid
 * B. Page-level Layout
 * C. Header Layout
 * D. Content Layout
 * E. Faux Wrappers
 * F. Hidden Elements
 */

/**
 * A. Grid
 *
 * Styles related to the grid system.
 *
 * @section l-grid
 */
 @import "layout/grid";

/**
 * Element list is a generic container that is meant to house lists
 * of designed elements, i.e. not a bulleted text list. It is meant
 * to apply to uls and ols.
 */
.element-list{
	// box model
	margin-left: 0;
	padding-left: 0;
	// lists
	list-style-type: none;
}

/**
 * B. Page-level Layout
 */
.wrapper{
	// box model
	margin: 0 auto;
	width: 100%;
	// layout
	display: block;
	
	&.grid,
	&.grid-alt{
		display: flex;
	}
	
	@include breakpoint($drax){
		max-width: 82em;
	}
}
.wrapper:before,   // nega-clearfix! Clearfix that wraps the element around TOP margins.
.wrapper:after{
	width: 0;
	content: "";
	display: table;
	clear: both;
}

/**
 * C. Header Layout
 */

[role="banner"]{
	// layout
	overflow: hidden;
	// backgrounds & borders
	background-color: #f3f3f3;
	// misc
	box-shadow: 0 0 3px $drop-shadow;
}

.page-header{
	transition: all .1s ease-in-out;
  
  @include breakpoint($gamora){
	  background-color: transparent;
  }
}

[role="main"]{
	position: relative;
}

[role="navigation"],
[role="main"]{
	width: 100%;
}

[role="navigation"]{
	clear: both;
	position: relative;

	@include breakpoint($lil-groot){
		font-size: .657rem;
		line-height: 1.427619682116684;
		letter-spacing: 0.05em;
	}

	@include breakpoint($gamora){
		// box model
		margin-left: 0;
		width: 100%;
		// typography
		font-size: 1.063rem;
		letter-spacing: normal;
		line-height: 1.323529411764706;  // 22.5/17
	}
}

/**
 * D. Content Layout
 */

.site-content{
	// box model
	margin-bottom: 1.875rem;  // 30px
	width: 100%;
	// position
	position: relative;

	@media screen and (min-height: 35em){
		margin-bottom: 3.75rem;  // 60px
	}
}

.index-wrapper,
.primary-content-wrapper{
	// box model
	border-top: 5px solid $evergreen-old-style;
	margin: -5px 0 0 1em;  // Compensate for 5px border
	padding: 0;
	width: calc(100% - 1.5em);
	// backgrounds & borders
	background-color: hsla(0,0%,95%,.95);
	border-radius: 2px;
	
	@include breakpoint($gamora){
		// box model
		margin-right: 0;
		margin-left: 0;
		width: calc(80% - 1em);  // 4/5 - 1em; 0.5em margin on either side
		// layout
		overflow: visible;
	}
}

// Wraps all the content on index pages and pages without a
// secondary content area.
.index-wrapper{
	
	@include breakpoint($drax){
		//margin-left: 18.292682926829%;  // magic number? Should this be something more like calc(14.285714285714% + 1em)?  // 1/7
		//width: 81.714285714285714%;  // 6/7
		width: 85.714285714286%;
	}
}

// Wraps all the content on most pages on the site.
.primary-content-wrapper{
	// box model
	border-bottom: 2px dashed $evergreen-neue;
		
	
	@include breakpoint($gamora){
		// box model
		padding-left: 1em;
	}
	
	@include breakpoint($drax){
		border-bottom: 0;
		width: 57.142857142857%;  // 4/7
	}
}

// Wraps the secondary content area.
.sidebar-wrapper{
	// box model
	margin-left: 1em;
	padding: 0;
	width: calc(100% - 1.5em);  // 0.25 margin on either side
	// layout
	overflow: hidden;
	// backgrounds & borders
	background-color: hsla(0,0%,95%,.95);

	@include breakpoint($gamora){
		// box model
		margin-left: 20%;
		padding-left: 1em;
		width: calc(80% - 1em);  // 4/5; this should match .primary-content-wrapper.
		// layout
		overflow: visible;
	}
	
	@include breakpoint($drax){
		// box model
		margin: 0;
		width: 28.571428571429%;  // 2/7
	}
}

// .main-content and .sidebar are the two primary regions of
// content on the page.
.main-content,
.sidebar{
	margin: 0 .75em;
	
	@include breakpoint($rocket){
		margin: 0 1em;
	}
}

.index-wrapper .main-content{  // specified in .index-wrapper to not affect .primary-content-wrapper

	@include breakpoint($gamora){
		margin: 0 3em;
	}
	@include breakpoint($drax){
		//margin: 0 3.626279863481%;  // magic number?
	}
}

.primary-content-wrapper .main-content{  // specified in .primary-content-wrapper to not affect .index-wrapper
	max-width: 45em;
	
	@include breakpoint($gamora){
		@include breakpoint($gamora){
			margin: 0 2em;
		}
		
		@include breakpoint($drax){
			margin: 0 3em;
		}
	}
}

.main-content{
	margin-top: -5px;
	
	@include breakpoint($drax){
		//position: relative;  // Creates a context for absolutely positioning the homepage tertiary nav
	}
}

.sidebar{
	margin: 0 .75em 3.75rem 0.75em;  // 60/16
	
	@include breakpoint($rocket){
		margin-right: 2em;
		margin-left: 2em;
	}
	
	@include breakpoint($gamora){
		margin-right: 5.675675675675676%;  // These values should match .main-content
		margin-left: 5.675675675675676%;
	}

	@include breakpoint($drax){
		//box model
		border-left: 1px solid #ccc;
		margin: 0 1em 0 0;
		padding-left: 1em;
		//typography
		color: #333;
		@include base-type;

		p,
		.base{
			margin: 0.535714285714286em 0 1.071428571428571em 0;  // 22.5/3/14  15/14  So, 22.5 + 7.5 + 15 = 45
		}
	}
	
	@include breakpoint($groot){
		@include base-type-lg;
		 
		p,
		.base{
			margin: 0.441176470588235em 0 0.882352941176471em 0;  // 22.5/3/17  15/17  So, 22.5 + 7.5 + 15 = 45
		}
	}
}

/**
 * E. Faux Wrappers
 *
 * For main-content and sidebar inside an index-wrapper, e.g., used
 * in the catalog. Use sparingly!
 */
#faux-content-wrapper{
	border-bottom: 2px dashed $evergreen-neue;
	
	@include breakpoint($gamora){
		width: 100%;
	}
	
	@include breakpoint($drax){
		border-bottom-width: 0;
		width: 66.6666666667%;  // 1/3
	}
}

#faux-sidebar-wrapper{
	
	@include breakpoint($gamora){
		width: 100%;
	}
	
	@include breakpoint($drax){
		// box model
		width: 33.3333333333%;  // 1/3
		// typography
		@include base-type;
	}
}

.faux-sidebar{
	
	@include breakpoint($drax){
		border-left: 1px solid #ccc;
		padding-left: 1em;
	}
}


.spotlight{
	text-align: center;
}

/**
 * F. Hidden Elements
 *
 * For displaying less essential elements only when screen size
 * permits. Use sparingly!
 */
@media screen and (max-width: 20em){
	.gt20{
		display: none;
	}
}
@media screen and (max-width: 22em){
	.gt22{
		display: none;
	}
}
@media screen and (max-width: 32em){
	.gt32{
		display: none;
	}
	.ins32{  // deprecated //Insert inline elements at this break point
		display: none;
	}
}
@media screen and (max-width: 43em){
	.gt43{
		display: none;
	}
}
@media screen and (max-width: 70em){
	.gt70{
		display: none;
	}
}
@media screen and (max-width: 88em){
	.gt88{
		display: none;
	}
}