/*!*
 * State Styles
 *
 * Styles generally for elements that might have different states,
 * depending on how they're set. Typically these are for JS or
 * otherwise app-like functions.
 *
 * @section states
 */

/**
 * 1. Primary Nav States
 *
 * @section state-nav
 */
.is-current-section{
	//typography
	color: white;
	//backgrounds and borders
	background-color: $evergreen-old-style;
}
.is-current-section a,
.is-current-section a:link
.is-current-section a:visited,
.is-current-section .is-explored-section:hover,
.is-current-section .is-explored-section:focus,
.is-current-section .is-explored-section:active{
	background-color: $evergreen-old-style;
}

/**
 * 2. Accordions
 *
 * @section state-accordion
 */

.is-expanded:before{
    //content:"▼ " !important;
    //transforms & transitions
    -webkit-transform: rotate(90deg);  //Chrome, Safari
        -ms-transform: rotate(90deg);  //IE9
            transform: rotate(90deg);
    -webkit-transition: all .2s linear;  //Safari 6
            transition: all .2s linear;
}

/**
 * 2. UI
 *
 * @section state-ui
 */

.is-selected-ui{
	//box model
	padding: 0 0.33em;
	//typography
	color: white;
	font-weight: bold;
	//backgrounds and borders
	background-color: $blueberry-susan;
}

.is-hidden{
	display: none !important;
}