/*!*
 * Layout Styles
 *
 * Styles for overarching page layout elements like main columns,
 * rows, and wrappers.
 *
 * @section layout
 */
.wrapper{
	//box model
	margin: 0 auto;
	width: 100%;
	//layout
	display: block;
	
	@media screen and (min-width:70em){
		max-width: 82em;
	}
}
.wrapper:before,   //nega-clearfix! Clearfix that wraps the element around TOP margins.
.wrapper:after{
	width: 0;
	content: "";
	display: table;
	clear: both;
}

[role="banner"]{
	overflow: hidden;
	background-color: #f3f3f3;
}

.page-header{
	-webkit-transition: all .1s ease-in-out;  //Safari 6, Chrome 25
          transition: all .1s ease-in-out;
  
  @media screen and (min-width: 43em){
	  background-color: transparent;
  }
}

[role="main"]{
	position: relative;
}

[role="navigation"],
[role="main"]{
	width: 100%;
}
[role="navigation"]{
	clear: both;
	position: relative;
}
@media screen and (min-width: 20em){
	[role="navigation"]{
		@include x-rem(font-size, .657);
		line-height: 1.427619682116684;
		letter-spacing: .05em;
	}
}
@media screen and (min-width: 43em){
	[role="navigation"]{
		//box model
		margin-left: 0;
		width: 100%;
		//typography
		@include x-rem(font-size, 1.063);
		letter-spacing: normal;
		line-height: 1.323529411764706;  //22.5/17
	}
}

.site-content{
	//box model
	margin-bottom: 1.875rem;  //30px
	width: 100%;
	//min-height: 80vh;
	//position
	position: relative;

	@media screen and (min-height: 35em){
		margin-bottom: 3.75rem;  //60px
	}
}

.element-list,
.element-list{  //Creates an un-bulleted list.
	//box model
	margin-left: 0;
	padding-left: 0;
	//lists
	list-style-type: none;
}

/**
 * Grid
 *
 * Styles related to the grid system.
 *
 * @section l-grid
 */
 @import "../atoms/grid";

.index-wrapper,
.content-wrapper{
	//box model
	border-top: 5px solid $evergreen-old-style;
	margin-top: -5px;  //Compensate for 5px border
	//backgrounds & borders
	background-color: #F3F3F3;  //IE8
	background-color: hsla(0,0%,95%,.95);
	border-radius: 2px;
	
	@media screen and (min-width: 43em){
		margin-left: 16.285714285714286%;  //1/7
	}
}

.index-wrapper{
	
	/*@media screen and (min-width: 43em){
		width: 96%;
	}*/
	
	@media screen and (min-width: 43em){
		margin-left: 20%;
		width: 78%;
	}
		
	@media screen and (min-width: 70em){
		margin-left: 18.292682926829%;
		width: 81.714285714285714%;  //6/7
	}
}

.content-wrapper{
	
	@media screen and (min-width: 43em){
		margin-left: 20%;  //1/5
		//width: 67.428571428571429%;  //5/7
		width: 78%; //4/5
	}
	
	@media screen and (min-width: 70em){
		margin-left: 16.285714285714286%;  //1/7
		width: 53.142857142857143%;  //4/7
	}
}

.sidebar-wrapper{
	//backgrounds & borders
	background-color: #F3F3F3;  //IE8
	background-color: hsla(0,0%,95%,.95);

	@media screen and (min-width: 43em){
		margin-left: 20%;
		width: 78%;
	}
	
	@media screen and (min-width: 70em){
		margin-left: 2%;
		width: 24.571428571429%;  //2/7
	}
}

.main-content,
.sidebar{
	margin: 0 2%;
}

.index-wrapper .main-content{

	@media screen and (min-width: 43em){
		margin-left: 5.675675675675676%;  //matches .content-wrapper .main-content
	}
	@media screen and (min-width: 70em){
		margin: 0 3.626279863481%;
	}
}

.content-wrapper .main-content{  //specified in .content-wrapper to not affect .index-wrapper
	max-width: 45em;
	
	@media screen and (min-width:43em){
		margin-right: 5.675675675675676%;  //I bumped this up for better readability on iPad and 800x600
		margin-left: 5.675675675675676%;
	}
}
.main-content{
	margin-top: -5px;
	
	@media screen and (min-width: 70em){
		position: relative;  //Creates a context for absolutely positioning the homepage tertiary nav
	}
}
.sidebar{
	border-top: 2px dashed $evergreen-neue;
	
	@media screen and (min-width: 43em){
		margin-right: 5.675675675675676%;  //These values should match .main-content
		margin-left: 5.675675675675676%;
	}

	@media screen and (min-width: 70em){
		//box model
		border-top-width: 0;
		border-left: 1px solid #ccc;
		margin: 0 auto;
		padding-left: 1em;
		//typography
		color: #333;
		@include base-type;

		p,
		.base{
			margin: 0.535714285714286em 0 1.071428571428571em 0;  //22.5/3/14  15/14  So, 22.5 + 7.5 + 15 = 45
		}
	}
	
	@media screen and (min-width: 125em){
		@include base-type-lg;
		 
		p,
		.base{
			margin: 0.441176470588235em 0 0.882352941176471em 0;  //22.5/3/17  15/17  So, 22.5 + 7.5 + 15 = 45
		}
	}
}

/**
 * Hidden Elements
 *
 * For displaying less essential elements only when screen size permits.
 *
 * @section l-hidden
 */
@media screen and (max-width: 20em){
	.gt20{
		display: none;
	}
}
@media screen and (max-width: 22em){
	.gt22{
		display: none;
	}
}
@media screen and (max-width: 32em){
	.gt32{
		display: none;
	}
	.ins32{  //deprecated //Insert inline elements at this break point
		display: none;
	}
}
@media screen and (max-width: 43em){
	.gt43{
		display: none;
	}
}
@media screen and (max-width: 70em){
	.gt70{
		display: none;
	}
}
@media screen and (max-width: 88em){
	.gt88{
		display: none;
	}
}