/*!*
 * Module Styles
 *
 * Styles for specific or reusable, components.
 *
 * @section module
 */

.top-links,
.search-list,
.primary-nav-unit h2,
.nav li{
    @include x-rem(font-size, .743);
    line-height: 1.262201279030629; /*15/11.884*/
}
/**
 * 1. Header
 *
 * @section mod-header
 */
@import "../molecules/header";
    
/**
 * 2. Hero Image
 *
 * @section mod-hero
 */
.hero{
    width:100%;
    position: absolute;
    //@include x-rem(top, 5.25);  //84/16
    top: 0;
    left: 0;
    z-index: -1;
    
    @media screen and (min-width:43em){
    	width: 100%;
    }
    
    @media screen and (min-width:70em){
    	//box model
        max-width: 82em;
        //positioning
        @include x-rem(top, 7);
    }
}
.hero-img{
    width:100%;
    display:block;
    
	@media screen and (min-width:43em){
        width: 55.142857142857143%;  //4-column - 2% for right margins
        max-width: 799px;
        display: block;
    }
}

/**
 * 3. Homepage Hero Image
 *
 * @section mod-hero-homepage
 */
@import "../molecules/homepage-hero";
    
    .profile-list > li{
    	@include margin-default;
    	//layout
    	overflow: hidden;
    	//position
	    position: relative;
	    
	    @media screen and (min-width:43em){
		    @include margin-default-lg;
	    }
    }
    .profile-img{
    	//box model
    	margin-left: -50%;
	    width: 200%;
	    max-width: 685px;
	    //layout
	    display: block;
	    
	    @media screen and (min-width: 20em){
		    margin-left: -25%;
		    width: 150%;
	    }
	    
	    @media screen and (min-width: 32em){
		    margin-left: 0%;
		    width: 100%;
	    }
	    
	    @media screen and (min-width: 43em){
		    width: 120%;
		    margin-left: -10%;
	    }
	    
	    @media screen and (min-width: 60em){
		    width: 100%;
		    margin-left: 0%;
	    }
    }
    .profile-list .box{
    	@include x-rem(margin-top, -1.40625);  //22.5/16
	    //margin-top: -2.142857142857143em;  //30/14
	    position: absolute;
	    bottom: 0;
    }

@import "../molecules/tertiary-nav";
@import "../molecules/footer";

/**
 * 4. Typography
 *
 * Special typography-as-modules.
 *
 * @section mod-typography
 */
.lead{
    margin-bottom:0;
}
.follow{
    margin-top:0;
}

.intro{
	//box model
	margin: 1.169925124792013;  //22.5/19.232
	//typography
    color: $evergreen-neue;
    @include x-rem(font-size, 1.202);  //19.232px
	line-height: 1.559900166389351;  //30/19.232
	
	@media screen and (min-width: 43em){
		//box model
        margin: 1.323529411764706em 0;
        //typography
        @include x-rem(font-size, 1.719);  //27.504
        line-height: 1.363438045375218; //37.5/27.504
	}
}
	
.intro-alt{
	color: #333;
	font-weight: bold;
}

.details{
    @include x-rem(font-size, .657);  //10.507px;
    line-height: 1.427619682116684;  //15/10.507
}

.big-fact{
    @include base-type-lg;
    
    @media screen and (min-width:43em){
		margin: .2727272727em 0 .8181818182em 0;
    }
    
    @media screen and (min-width:70em){
		@include x-rem(font-size, 1.719);  //20px
		line-height: 1.090710779858208;  //30/27.505
    }
}

.key-number{  //e.g. http://www.evergreen.edu/about/impact/
	//box model
	margin: 0.818419903972065em 0 0 0;
	//layout
	display: block;
	//typography
	color: $evergreen-neue;
	@include x-rem(font-size, 2.291);  //36.656px
    font-weight: normal;
    line-height: 1.227629855958097;  //45/35.656
}
.main-content > p:last-child:after,
.main-content > ul:last-child > li:last-child:after,
.main-content > ol:last-child > li:last-child:after,
.main-content > dl:last-child > dd:last-child:after{
    content: "\00A0" url("/_inc/images/endnote.png");
}

    /**
     * 4.1 Lists
     *
     * @subsection mod-typography-l
     */
    .text-list{  //Creates a standard bulleted list.
    	//box-model
        margin-left: 1em;
        //lists
        list-style-type: disc;

	    ul{
	    	//box-model
	        margin-left:1em;
	        //lists
	        list-style-type:square;
		}
    }
    
    .singleton a{
        font-weight: normal;
    }
    
    .feature-list{
	    
    	> li{
		    @media screen and (min-width:22em){
				margin-right: 2%;
				width: 49%;
				float:left;
				
				&:nth-child(odd){
					clear:left;
				}
				
				&:nth-child(even){
					margin-right: 0;
				}
			}
	    
		    @media screen and (min-width:43em){
	        	//box model
	        	margin-right: 2%;
	        	width: 32%;
	        	width: 31.3333333333%\9;  //IE8
	        	//layout
	            float: left;
	            
	            &:nth-child(odd){
	            	clear: none;
	            }
	            
	            &:nth-child(even){
		            margin-right: 2%;
	            }
	            
	            &:nth-child(3n){
	            	margin-right: 0;
	            }
	            
	            &:nth-child(3n+1){
	            	clear: left;
	            }
		    }
		}
    }

        /**
         * 4.1.1 Accordion
         *
         * @subsubsection mod-typography-l-accordion
         */
        .accordion,
        .accordion-table{
        	//box model
            border: 1px solid #ccc;
            //layout
            overflow: hidden;
            //backgrounds & borders
            background-color: #e5e5e5;
            border-radius: 8px;
        }
        .accordion dt a,
        .accordion dd{
            padding: 0.631100639515315em 2%;  //15/11.884/2
        }
        .accordion dt{
            border-top: 1px solid #666;  //Use border-top, cuz dts aren't last-childs
            margin-top: 0;
        }
        .accordion dt:first-child{  //Use first-child cuz dts aren't last-childs
            border-top-width: 0;
        }
        .accordion dt a{
        	//box model
        	border-bottom-width: 0;
            width: 100%;
            //layout
            display: block;
        }
        .accordion dt a:before{
            content:"▶ ";
        }
        .accordion dd{
        	//box model
        	margin-bottom: 0;
        	//backgrounds & borders
            background-color: hsl(0, 0%, 95%);
            //misc
            box-shadow: inset 0 2px 2px #999;
        }
        
        .accordion-table .group{
	        font-weight: bold;
	        color: $blueberry-susan;
	        
	        &:hover{
	        	//typography
		        color: $sky-blue;
		        //misc
		        cursor: pointer;
	        }
        }
        
        @import "../molecules/icon-links";

	    /*Lists have a hard time breaking across columns, so there are some tricky fixes here.*/
	    ul.flexible{
	    	/*@media screen and (min-width:20em){
		    	//box model
		    	margin-left: 0;  //Put the margin on each li instead.
		    	//layout
		        -webkit-column-count: 2;
		           -moz-column-count: 2;
		            -ms-column-count: 2;
		                column-count: 2;
		        -webkit-column-gap: 15px;
		           -moz-column-gap: 15px;
		            -ms-column-gap: 15px;
		                column-gap: 15px;
		    }
	                
			@media screen and (min-width:32em){
				-webkit-column-count: 3;
				   -moz-column-count: 3;
				    -ms-column-count: 3;
				        column-count: 3;
			}*/
	    }
		.flexible > li{
			@media screen and (min-width: 20em){
		    	//box model
		    	margin: 0 2%;
		    	margin-bottom: 0.46875rem;  //7.5/16
		    	width: 46%;
		    	//layout
		    	float: left;
		    	
		    	&:nth-child(odd){
			    	clear: left;
		    	}

			    /*&:before{
			    	//box model
			    	margin-left: 1.2662em;  //This should equal the default ul left margin.
			    	//layout
			    	display: list-item;
			    	float: left;
			    	//positioning
			    	position: relative;
			    	left: -1.2662em;  //This should be the inverse of margin-left.
			    	//typography
			    	text-indent: 0;  //Fixes a bug in Chrome where bullets won't display.
			    	//misc
				    content: "";
			    }*/
			}
			
			@media screen and (min-width: 32em){
				width: 29%;
				
				&:nth-child(odd){
					clear: none;
				}
				
				&:nth-child(3n+1){
					clear: left;
				}
			}
		}
		
		@media screen and (min-width:32em){
	        .unit-2-7 .flexible{
	            -webkit-column-count: 2;
	               -moz-column-count: 2;
	                -ms-column-count: 2;
	                    column-count: 2;
	        }
	    }
	    
	    .unit-3-7 .flexible{
			@media screen and (min-width: 70em){
				-webkit-column-count: 2;
				   -moz-column-count: 2;
				    -ms-column-count: 2;
				        column-count: 2;
			}
			
			@media screen and (min-width: 70em){
			    -webkit-column-count: 3;
                   -moz-column-count: 3;
                    -ms-column-count: 3;
                        column-count: 3;
            }
		}
		
		/**
         * 4.1.2 Link Icons
         *
         * Links with icons attached to them, e.g. PDFs or social media chicklets.
         *
         * @subsubsection mod-typography-a-icons
         */
        .link-icon::before,
        .link-icon-alt::before{
        	//box model
        	height: 1rem;
        	width: 1rem;
        	//layout
        	display: inline-block;
        	overflow: hidden;
        	vertical-align: middle;
        	//typography
        	text-indent: 100%;
        	white-space: nowrap;
        	//backgrounds & borders
        	background-repeat: no-repeat;
	        -webkit-background-size: 1rem 1rem;
	           -moz-background-size: 1rem 1rem;
	                background-size: 1rem 1rem;
	        //misc
	        content: "";
        }
        .link-icon::after{
	        margin-left: .5em;
        }
        .link-icon-alt::before{
	        margin-right: .5em;
        }
        .icon-blog::before{
        	//backgrounds & borders
	        background-image: url("/_inc/images/icons/external/blog32x32.png");
	        content: "Blog";
        }
        .icon-facebook::before{
        	//backgrounds & borders
	        background-image: url("/_inc/images/icons/external/facebook32x32.png");
	        content: "Facebook";
        }
        .icon-twitter::before{
        	//backgrounds & borders
	        background-image: url("/_inc/images/icons/external/twitter32x32.png");
	        content: "Twitter";
        }
        .icon-youtube::before{
        	//backgrounds & borders
	        background-image: url("/_inc/images/icons/external/youtube32x32.png");
	        content: "YouTube";
        }
        
        
        /**
         * 4.1.3 Tag Clouds
         *
         * Tag cloud sizing.
         *
         * @subsubsection mod-typography-l-tagcloud
         */
        .few{
	        @include x-rem(font-size, 0.743);
	        
	        a{
		        font-weight: normal;
	        }
        }
        .many{
            @include base-type-lg;
        }
    
@import "../atoms/media-block";
@import "../atoms/boxes";
@import "../atoms/images";


/**
 * 3.7 Event Calendar
 *
 * @section mod-event-calendar
 */
.event-dt{
	//box model
	//padding: 0 2%;
	//typography
	@include x-rem(font-size, 0.743);
	font-weight: bold;
	letter-spacing: .1em;
	line-height: 1.892664872139973;
	text-transform: uppercase;
	//backgrounds & borders
	//background-color: mix(white, $sky-blue, 40%);
}
.event-calendar .h-event{
	margin-top: 0.535714285714286em;  //22.5/14/3
	margin-bottom: 1.071428571428571em;  //15/14  So, 22.5 + 7.5 + 15 = 45
}
@media screen and (min-width:43em){
    .event-calendar .h-event{
        margin-top: 0.441176470588235em;  //22.5/17/3
        margin-bottom: 0.882352941176471em;  //15/17  So, 22.5 + 7.5 + 15 = 45
    }
}

/*.blog{
	border-top: 1px solid #000;
}
.blog:before{
	background-color: #F3F3F3;
    content: "Blog";
    display: table;
    font-size: 10.507px;  //IE8
    font-size: 0.657rem;
    margin: -7.345px auto 0;  //IE8
    margin: -0.459rem auto;
    padding: 0 0.657rem;
    text-align: center;
}*/

#tinymce{  //WYSIWYG
	margin: 0 4em;
}