/**
 * H. spread Segment
 *
 * A common pattern wherein copy is tightly coupled to a graphic.
 *
 * .media
 * +--------------+--------------+
 * |              |              |
 * | .spread-img  | .spread-body |
 * |              |              |
 * |              |              |
 * +--------------+--------------+
 */

.spread{
	// box model
	margin: 4.28571428571429em auto;  // 60/14 Should this be increased?
	// layout
	align-items: center;
	display: flex;
	flex-direction: column;

	@include breakpoint($drax){
		flex-direction: row;
	}
}

.index-wrapper .spread{

	@include breakpoint($gamora){
		margin: 7.05882352941176em auto; // 120/17
	}
}

.spread:first-of-type,
.index-wrapper .spread:first-of-type{
	margin-top: calc(30 / 14 * 1em);

	@include breakpoint($gamora){
		margin-top: calc(30 / 18 * 1em);
  }

	@include breakpoint($groot){
		margin-top: calc(45 / 19.229 * 1em);
	}
}

.spread-img,
.spread-body{
	max-width: 100%;

	@include breakpoint($drax){
		float: left;  // IE 9
	}
}

.spread-img{

	@include breakpoint($drax){
		// box model
		max-width: 50%;
	}
}

.spread-body{

	@include breakpoint($drax){
		// box model
		margin-left: -3em;
		padding-left: 2em;
		max-width: calc(50% + 3em);
		// layout
		z-index: 1;
		// decoration
		background-color: transparentize($tint, 0.05);
	}
}