@charset "UTF-8";
@import "../tools";  //constants, mixins, functions, etc.

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
//$slick-prev-character: "←" !default;
//$slick-next-character: "→" !default;
$slick-prev-character: "<" !default;
$slick-next-character: ">" !default;
$slick-dot-character: "•" !default;
//$slick-dot-size: 6px !default;
$slick-dot-size: 30px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    //height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    //margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before, .slick-next:before {
    //font-family: $slick-font-family;
    //font-size: 20px;
    font-size: 17px;
    //line-height: 1;
    line-height: 0.88235294117647; // 15/17
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	//left: -25px;
	
	[dir="rtl"] & {
		left: auto;
		//right: -25px;
		right: 0;
	}
	
	&:before {
		content: $slick-prev-character;
	
	[dir="rtl"] & {
		content: $slick-next-character;
	}
	}
}

.slick-next {
	//right: -25px;
	right: 0;
	
	[dir="rtl"] & {
		//left: -25px;
		right: auto;
	}
		
	&:before {
		content: $slick-next-character;
		
		[dir="rtl"] & {
			content: $slick-prev-character;
		}
	}
}

/* Dots */

.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	margin-left: 0;
	//position: absolute;
	//bottom: -45px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;
	
	li {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		
		button {
			border: 0;
			background: transparent;
			display: block;
			height: 20px;
			width: 20px;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;
	
			&:hover, &:focus {
				outline: none;
			
				&:before {
					opacity: $slick-opacity-on-hover;
				}
			}
	
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: $slick-dot-character;
				width: 20px;
				height: 20px;
				//font-family: $slick-font-family;
				font-size: $slick-dot-size;
				line-height: 20px;
				text-align: center;
				color: $slick-dot-color;
				opacity: $slick-opacity-not-active;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		&.slick-active button:before {
			color: $slick-dot-color-active;
			opacity: $slick-opacity-default;
		}
	}
}


/**
 * Evergreen Overrides
 */
.slick-photo-slideshow .slick-slide{  // for photo slideshows running in center mode
	margin: 0 1em;
}

.slick-photo-slideshow .slick-slide img{
	border: 1px solid mix(black, $sky-blue, 60%);
}

.slick-slide img{
	margin-left: auto;
	margin-right: auto;
}

.slick-no-js-wrapper{
	// layout
	overflow: hidden;
	position: relative;
	
	@include breakpoint($gamora){
		overflow-x: visible;
	}
	
	.unit-1-5,
	.unit-1-7{
		// box mode
		width: 66.6666666667%;  // magic number: allows next event to peek out, indicating horizontal scrolling
		flex-shrink: 0;
		scroll-snap-coordinate: 0 0;
	}
	
	@include breakpoint($lil-groot){
		.unit-1-7{
			width: 40%;  // magic number: allows next event to peek out, indicating horizontal scrolling
		}
	}

	@include breakpoint($starlord){
		.unit-1-5{
			width: 40%;  // magic number: allows next event to peek out, indicating horizontal scrolling	
		}
		.unit-1-7{
			width: 29%;  // magic number: allows next event to peek out, indicating horizontal scrolling
		}
	}
}

.slick-no-js-list{
	// layout
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow-x: visible;
	overflow-y: auto;
	// scrolling
	scroll-behavior: smooth;
	scroll-snap-destination: 0 0;
	scroll-snap-points-x: repeat(0%);
	scroll-snap-type: mandatory;
	
	&::after{  // pseudo-element that adds a drop shadow
		// box model
		height: 100%;
		width: 100%;
		// layout
		display: block;
		position: absolute;
		top: 0;
		right: -100%;
		// miscellaneous
		box-shadow: -0.25em 0 1em $drop-shadow;
		content: "";
		
		@include breakpoint($gamora){
			display: none;
		}
	}
}

.slick-no-js-list.slick-initialized,
.upcoming-events-list.slick-initialized{
	// box model
	margin-left: 0;
	padding: 0;
	// layout
	overflow: hidden;
	
	.unit-1-5,
	.unit-1-7{
		margin: 0;
		padding: 0 3em;
		
		@include breakpoint($starlord){
			padding: 0 1.5em;
		}
	}
	
	&::after{
		display: none;
	}
}

.slick-prev,
.slick-next{
	// box model
	margin-top: 0;
	// miscellaneous
	transform: translateY(calc(-50% - 10px));
}

.slick-prev::before, .slick-next::before{
	// box model
	padding: 30px 2px;
	width: 20px;
	// layout
	display: block;
	top: 50%;
	// backgrounds and borders
	background-color: $blueberry-susan;
}
.slick-prev::before{
	border-radius: 2px 0 0 2px;
}

.slick-next::before{
	border-radius: 0 2px 2px 0;
}

.slick-dots{
	margin: 0;
}