@charset "UTF-8";
/*!*
 * Style Guide Styles
 *
 * Styles that address the unique design problems of our public
 * Style Guide.
 *
 * The styles in this style guide were arrived at in discussions between
 * the web and print teams.
 *
 * Styles in this file are organized according to the SMACSS principles:
 * http://smacss.com/
 *
 * Table of Contents
 *
 * 1. Base Styles
 * 2. Layout Styles
 * 3. Module Styles
 * 4. State Styles
 * 5. Uncategorized Styles
 */
@import "../tools";

/**
 * 1. Base Styles
 *
 * @see http://smacss.com/book/type-base
 */

@import "buttons";

/**
 * 2. Layout Styles
 *
 * @see http://smacss.com/book/type-layout
 */

ul.allowed-list,
ul.banned-list{
	margin-left: 25px;
}

ul.banned-list{
	list-style-image: url(/style-guide/images/no.png);
}

@include breakpoint($starlord) {
	.sample-list > li{
		margin:0.535714285714286em 4% 1.071428571428571em 0;  //22.5/14/3 15/14  So, 22.5 + 7.5 + 15 = 45
		width: 48%;
		float: left;
	}
	.sample-list > li:nth-child(even){
	    margin-right: 0;
	}
}

/**
 * 3. Module Styles
 *
 * @see http://smacss.com/book/type-module
 */

@import "color-tables";

/**
 * 4. State Styles
 *
 * @see http://smacss.com/book/type-state
 */
.is-dark{
	color:#fff;
}

/*body::after{
	padding: 0 1em;
	position: fixed;
	top: 1em;
	right: 1em;
	font-style: italic;
	text-shadow: 0px -1px 0 $highlight;
	background-color: rgba($evergreen-neue, .2);
	box-shadow: 0px 1px 2px $drop-shadow;
	content: "Min";
}
@media screen and (min-width:20em){
	body::after{
		content: "20em";
	}
}
@media screen and (min-width:22em){
	body::after{
		content: "22em";
	}
}
@media screen and (min-width:32em){
	body::after{
		content: "32em";
	}
}
@media screen and (min-width:43em){
	body::after{
		content: "43em";
	}
}@media screen and (min-width:70em){
	body::after{
		content: "Max";
	}
}*/
/*This file was written by Justin McDowell. ((O)O)*/