.sass-cache

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

libs

custom-css/jquery.css
custom-css/build/jquery.css

// Ignore third-party libraries
js/files

// Ignore image and sprite stuff for now
images/src/
images/build/
campus-life.html