//@import "rem";  //Includes a function that provides a pixel-value fallback for rem size declarations for IE 8

/**
 * Sass Constants
 *
 * @section sass-constants
 */
$morning-light: #fdf4b6;
$sky-blue: #0086ee;
$evergreen-neue: #64933a;
$evergreen-old-style: #46502b;
$blueberry-susan: #492c5d;
$wine: #600f21;
$black: #000;

$shadow: hsla(275, 33%, 11%, .25);
$highlight: hsla(52, 95%, 85%, .5); //$morning-light

$display-face: Avenir, "Avenir Next", "Proxima Nova", Helvetica, Arial, sans-serif;
$text-face: Avenir, "Avenir Next", "Proxima Nova", Helvetica, Arial, sans-serif;
$small-face: Verdana, Avenir, "Avenir Next", "Proxima Nova", Helvetica, Arial, sans-serif;

//*
 // Modular Scale
 //
 // The typographic scale we are using for measurements.
 // Ideal text size is 17px
 // The important number is 345px. This was the size of images in
 // the previous Admissions template, which guided image sizes in
 // the new template.
 //
 // @see http://modularscale.com/scale/?px1=17&px2=345&ra1=1.618&ra2=0
 //

//  Pixels     Ems 	Ems @ 16 	  % of 13
// 903.184 	53.128 	  56.449 	6,947.569
// 798.512 	46.971 	  49.907 	6,142.400
// 558.210 	32.836 	  34.888 	4,293.923
// 493.518 	29.03 	  30.845 	3,796.292
// 345.000 	20.294 	  21.563 	2,653.846
// 305.017 	17.942 	  19.064 	2,346.285
// 213.226 	12.543 	  13.327 	1,640.200
// 188.515 	11.089 	  11.782 	1,450.115
// 131.784 	 7.752 	   8.237 	1,013.723
// 116.511 	 6.854 	   7.282 	  896.238
//  81.449 	 4.791 	   5.091 	  626.531
//  72.009 	 4.236 	   4.501 	  553.915
//  50.339 	 2.961 	   3.146 	  387.223
//  44.505 	 2.618 	   2.782 	  342.346
//  31.112 	 1.83 	   1.945 	  239.323
//  27.506 	 1.618 	   1.719 	  211.585
//  19.229 	 1.131 	   1.202 	  147.915
//  17.000   1         1.063 	  130.769*
//  11.884 	 0.699 	   0.743 	   91.415
//  10.507 	 0.618 	   0.657 	   80.823
//   7.345 	 0.432 	   0.459 	   56.500
//   6.494 	 0.382 	   0.406 	   49.954
//   4.540 	 0.267 	   0.284 	   34.923
//   4.014 	 0.236 	   0.251 	   30.877
//   2.806 	 0.165 	   0.175 	   21.585
//   2.481 	 0.146 	   0.155 	   19.085
//   1.734 	 0.102 	   0.108 	   13.338
//   1.533 	 0.09 	   0.096 	   11.792
//   1.072 	 0.063 	   0.067 	    8.246
 

/**
 * Sass Mixins
 *
 * @section sass-mixins
 */
@mixin margin-default{
	margin: 0.535714285714286em 0 1.071428571428571em 0;  //22.5/14/3 15/14  So, 22.5 + 7.5 + 15 = 45
}
@mixin margin-default-lg{
	margin: 0.441176470588235em 0 0.882352941176471em 0;  //7.5/17/3  15/17  So, 22.5 + 7.5 + 15 = 45
}

@mixin base-type{
	font-size: 0.875rem;  //14px
	line-height: 1.607142857142857;  //22.5/14
}
@mixin base-type-lg{
	font-size: 1.063rem;  //17px
	line-height: 1.47058823529412;  //25/17
}
@mixin base-type-xl{
	font-size: 1.202rem;  //19.232px
	line-height: 1.29991680532446;  //25/19.232
}
@mixin small-type{
	font-family: $small-face;
	font-size: 0.657rem;  //10.507px
	line-height: 1.427619682116684;  //15/10.507
}

// Replaces PNG background-image with multiple repeating
// gradients instead. Unfortunately, Chrome totally craps out
// in the rendering department, so this will have to wait for
// another day.
//@mixin background-default{
//	background-image:  //Safari 6
		// diagonal lines
//		-webkit-repeating-linear-gradient(
//			-45deg,
//			hsla(0, 0%, 0%, .1),
//			hsla(0, 0%, 0%, .1) 1px,
//			hsla(0, 0%, 0%, 0) 2px,
//			hsla(0, 0%, 0%, 0) 3px
//		),
		// 1px dots
//		-webkit-radial-gradient(
//			hsla(0, 0%, 0%, .1),
//			hsla(0, 0%, 0%, .1) 1px,
//			hsla(0, 0%, 0%, 0) 1px,
//			hsla(0, 0%, 0%, 0) 2px
//		);
//	background-image:
		// diagonal lines
//		repeating-linear-gradient(
//			-45deg,
//			hsla(0, 0%, 0%, .1),
//			hsla(0, 0%, 0%, .1) 1px,
//			hsla(0, 0%, 0%, 0) 2px,
//			hsla(0, 0%, 0%, 0) 3px
//		),
		// 1px dots
//		radial-gradient(
//			hsla(0, 0%, 0%, .1),
//			hsla(0, 0%, 0%, .1) 1px,
//			hsla(0, 0%, 0%, 0) 1px,
//			hsla(0, 0%, 0%, 0) 2px
//		);
	
//	background-size:
		// diagonal lines
//		100% 100%,
		// 1px dots
//		10px 10px;
//}