@charset "UTF-8";
/** Sass Constants  @section sass-constants */
/** Sass Mixins  @section sass-mixins */
.compare-box { max-width: 200px; position: fixed; right: 2%; bottom: -6em; text-align: center; box-shadow: 0 0 2px rgba(30, 19, 37, 0.25); }

.compare-box-active { bottom: 0; -webkit-transition: bottom .25s; transition: bottom .25s; }

.course-index { font-size: 0.875rem; line-height: 1.607142857142857; }
.course-index > thead { display: none; }
.course-index > tbody, .course-index > tbody > tr, .course-index > tbody > tr > td { display: block; }
.course-index > tbody > tr { margin: 0.535714285714286em 0 1.071428571428571em 0; border: 1px solid #c1b7c7; overflow: hidden; text-align: center; background-color: #ece9ee; border-radius: 2px; box-shadow: 0 1px 1px rgba(30, 19, 37, 0.25); }
.course-index > tbody > tr.cancelled { background-color: #f3f3f3; border-color: #d1cad6; border-style: dashed; box-shadow: none; }
.course-index > tbody > tr > td { border-width: 0; padding: 0; }
.course-index > tbody > tr > td.offering, .course-index > tbody > tr > td.standing, .course-index > tbody > tr > td.credits, .course-index > tbody > tr > td.time { display: inline; }
.course-index > tbody > tr > td.is-hidden { display: none; }
@media screen and (min-width: 70em) { .course-index > thead { display: table-header-group; }
  .course-index > tbody { display: table-row-group; }
  .course-index > tbody > tr { border-width: 0; display: table-row; text-align: left; background-color: transparent; border-radius: 0; box-shadow: none; }
  .course-index > tbody > tr > td { border-top-width: 1px; padding: 0.37037em 1.11111em 1.11111em 0; display: table-cell; }
  .course-index > tbody > tr > td.offering, .course-index > tbody > tr > td.standing, .course-index > tbody > tr > td.credits, .course-index > tbody > tr > td.time { display: table-cell; } }

.compare { margin: 0.535714285714286em 0 1.071428571428571em 0; margin-left: 1em; margin-right: 1em; float: left; }
@media screen and (min-width: 70em) { .compare { margin: 0; float: none; } }

.title { margin: 0 2%; }

@media screen and (min-width: 70em) { .program-title { font-size: 1.063rem; line-height: 1.323529411764706; } }
.program-title .message { padding: 0 0.3125rem; color: #600f21; letter-spacing: .1em; text-transform: uppercase; background-color: rgba(253, 243, 180, 0.5); }

.offering, .standing, .credits, .time { margin: 0.535714285714286em 0 1.071428571428571em 0; }

.offering:after, .standing:after { content: " •"; }
@media screen and (min-width: 70em) { .offering:after, .standing:after { content: ""; } }

.credits:after { content: " credits •"; }
@media screen and (min-width: 70em) { .credits:after { content: ""; } }

.time:after { width: 0; clear: both; display: table; content: ""; }

.fall { clear: left; }
.fall, .fall abbr { background-color: #c09a00; }

.winter, .winter abbr { background-color: #0064b2; }

.spring, .spring abbr { background-color: #766085; }

.summer, .summer abbr { background-color: #64933a; }

.fall, .winter, .spring, .summer { margin-top: 0.9375rem; width: 25%; float: left; color: white; text-align: center; }
.fall abbr, .winter abbr, .spring abbr, .summer abbr { border-bottom-width: 0; padding: 0.234375rem; display: block; border-radius: 2px; }
@media screen and (min-width: 70em) { .fall, .winter, .spring, .summer { width: auto; float: none; background-color: transparent; } }

.keyword-list > li { margin: 0.234375rem 0; display: inline-block; color: white; }
.keyword-list > li > a { border-bottom-width: 0; margin: 0 0.4375rem 0 0; display: block; }
.keyword-list > li > a:before { content: "#"; }
.keyword-list > li > a, .keyword-list > li > a:visited { color: #a495ae; font-weight: normal; }
.keyword-list > li > a:hover { color: #a8d5f9; background-color: #492c5d; }
.keyword-list > li:last-child a { margin-right: 0; }

.cancelled { opacity: .4; }
.cancelled .fall, .cancelled .winter, .cancelled .spring, .cancelled .summer { background-color: #dad4de; }
.cancelled .fall abbr, .cancelled .winter abbr, .cancelled .spring abbr, .cancelled .summer abbr { background-color: transparent; }
@media screen and (min-width: 70em) { .cancelled .fall, .cancelled .winter, .cancelled .spring, .cancelled .summer { background-color: transparent; } }

/** Program Pages  Styles for the detail pages for each of the individual programs. */
.program-faculty { border: 1px solid #00355f; height: 3rem; border-radius: 50%; }

.program-prerequisites, .program-prerequisites-content, .program-description { margin: 0.535714285714286em 0 1.071428571428571em 0; }

.catalog-season { height: 1.375rem; }
@media screen and (min-width: 43em) { .catalog-season { font-size: 1.594rem; } }
