@charset "UTF-8";
/** Sass Constants  @section sass-constants */
/** Sass Mixins  @section sass-mixins */
.faculty-directory { font-size: 0.875rem; line-height: 1.42857142857143; }
.faculty-directory > thead { display: none; }
.faculty-directory > tbody > tr { border: 1px solid #c1b7c7; margin: 0.535714285714286em 0 1.071428571428571em 0; padding: 0 1em; display: block; overflow: hidden; background-color: #ece9ee; border-radius: 2px; box-shadow: 0 1px 1px rgba(30, 19, 37, 0.25); }
.faculty-directory > tbody > tr > td { border-width: 0; padding: 0; display: block; }
.faculty-directory > tbody > tr .p-tel::before { font-weight: bold; content: "Phone: "; }
.faculty-directory > tbody > tr .u-email::before { font-weight: bold; content: "Email: "; }
.faculty-directory > tbody > tr .p-extended-address::before { font-weight: bold; content: "Location: "; }
.faculty-directory .u-photo { margin: 0.535714285714286em 0 1.071428571428571em 0; margin-left: 1em; max-width: 75px; float: right; }
@media screen and (min-width: 43em) { .faculty-directory thead { display: table-header-group; }
  .faculty-directory > tbody > tr { border-width: 0; padding: 0; display: table-row; background-color: transparent; border-radius: 0; box-shadow: none; }
  .faculty-directory > tbody > tr > td { border-top-width: 1px; padding: 0.37037em 1.11111em 1.11111em 0; display: table-cell; }
  .faculty-directory > tbody > tr .p-tel::before { content: ""; }
  .faculty-directory > tbody > tr .u-email::before { content: ""; }
  .faculty-directory > tbody > tr .p-extended-address::before { content: ""; }
  .faculty-directory .u-photo { margin: 0; float: none; } }
