/**
 * II. Layout Styles
 *
 * Styles for overarching page layout elements like main columns,
 * rows, and wrappers.
 *
 * Table of Contents
 *
 * A. Grid
 * B. Page-level Layout
 * C. Header Layout
 * D. Content Layout
 * E. Faux Wrappers
 * F. Hidden Elements
 */

/**
 * A. Grid
 *
 * Styles related to the grid system.
 *
 * @section l-grid
 */
@import "layout/grid";

/**
 * Element list is a generic container that is meant to house lists
 * of designed elements, i.e. not a bulleted text list. It is meant
 * to apply to uls and ols.
 */
.element-list{
	// box model
	margin-left: 0;
	padding-left: 0;
	// lists
	list-style-type: none;
}

/**
 * B. Page-level Layout
 */
.wrapper{
	// box model
	margin: 0 auto;
	width: 100%;
	// layout
	display: block;

	&.grid,
	&.grid-alt{
		display: flex;
	}

	@include breakpoint($drax){
		max-width: 77em;
	}
}

.wrapper:before,  // nega-clearfix! Clearfix that wraps the element around TOP margins.
.wrapper:after{
	// box model
	width: 0;
	// layout
	clear: both;
	display: table;
	// miscellaneous
	content: "";
}

/**
 * C. Header Layout
 */

[role="banner"],
body > div + header,  // This is hacky. Use .header-nav-wrapper instead. Delete after next whole-site publish.
.header-nav-wrapper{
	// layout
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	// decoration
	background-color: $tint;
	// misc
	box-shadow: 0 0 3px $drop-shadow;

	@include breakpoint($gamora){
		flex-direction: row-reverse;
	}
}

.page-header{
	transition: all 0.1s ease-in-out;

	@include breakpoint($gamora){
		background-color: transparent;
	}
}

[role="main"],  // deprecated, main element comes with role="main" by default
.main-row{
	// position
	position: relative;  // Necessary to keep the left-nav contained on the homepage.

	@include breakpoint($drax){
		// box model
		border-top: 4px solid $evergreen-old-style;
		margin-top: -4px;  // Compensates for 4px top border and maintains 15px vertical cadence.
		// backgrounds and borders
		border-radius: 2px;
	}
}

.top-nav,
.main-row{
	width: 100%;
}

.top-nav{
	clear: both;
	position: relative;

	@include breakpoint($lil-groot){
		font-size: 0.695rem;  // Step -1
		letter-spacing: -0.01em;  // Gives margins a touch more breathing room
		line-height: 1.34831460674157;  // 15/11.125
	}

	@include breakpoint($starlord){
		@include base-type;
	}

	@include breakpoint($gamora){
		margin-left: 0;
		width: 100%;
	}
}

/**
 * Typekit overrides
 */

.wf-active .top-nav{

	@include breakpoint($lil-groot){
		@include base-type;
	}

	@include breakpoint($rocket){
		letter-spacing: 0.05em; // Gives letters a touch more breathing room
	}
}

.top-nav,
.wf-active .top-nav{  // Typekit loaded

	@include breakpoint($gamora){
		@include base-type-lg;
		letter-spacing: normal;
	}

	@include breakpoint($drax){
		@include base-type-xl;
	}

	@include breakpoint($groot){
		font-size: 1.719rem;  // 27.504px  Step 3
		line-height: 1.090750436300175; // 30/27.504
	}
}

/**
 * D. Content Layout
 */

.site-content{
	// box model
	margin-bottom: 1.875rem;  // 30px
	width: 100%;

	@media screen and (min-height: 35em){
		margin-bottom: 3.75rem;  // 60px
	}
}

.index-wrapper,
.primary-content-wrapper{
	// box model
	border-top: 5px solid $evergreen-old-style;
	margin: -5px 0 0 1em;  // Compensate for 5px border
	//margin-left: 1em;
	padding: 0;
	width: calc(100% - 1.5em);
	// decoration
	background-color: transparentize($tint, 0.05);
	border-radius: 2px;

	@include breakpoint($gamora){
		// box model
		margin-right: 0;
		margin-left: 0;
		width: calc(80% - 1em);  // 4/5 - 1em; 0.5em margin on either side
		// layout
		overflow: visible;
		// borders and backgrounds
		border-radius: 0 0 2px 2px;
	}

	@include breakpoint($drax){
		border-top-width: 0;
		margin-top: 0;
	}
}

// Wraps all the content on index pages and pages without a
// secondary content area.
.index-wrapper{

	@include breakpoint($gamora){
		position: relative;  // Creates a positioning context for the left nav.
	}

	@include breakpoint($drax){
		//margin-left: 18.292682926829%;  // magic number? Should this be something more like calc(14.285714285714% + 1em)?  // 1/7
		//width: 81.714285714285714%;  // 6/7
		width: 85.714285714286%;
	}
}

// Wraps all the content on most pages on the site.
.primary-content-wrapper{
	// box model
	border-bottom: 2px dashed $evergreen-neue;

	/*@include breakpoint($gamora){
		// box model
		padding-left: 1em;
	}*/

	@include breakpoint($drax){
		border-bottom: 0;
		width: 57.142857142857%;  // 4/7
	}
}

// Wraps the secondary content area.
.sidebar-wrapper{
	// box model
	margin-left: 1em;
	padding: 0;
	width: calc(100% - 1.5em);  // 0.25 margin on either side
	// layout
	overflow: hidden;
	// decoration
	background-color: transparentize($tint, 0.05);

	@include breakpoint($gamora){
		// box model
		margin-left: 20%;
		padding-left: 1em;
		width: calc(80% - 1em);  // 4/5; this should match .primary-content-wrapper.
		// layout
		overflow: visible;
	}

	@include breakpoint($drax){
		// box model
		margin: 0;
		width: 28.571428571429%;  // 2/7
	}
}

// .main-content and .sidebar are the two primary regions of
// content on the page.
.main-content,
.sidebar{
	margin: 0 0.75em 2.14285714285714em;  // 30/14

	@include breakpoint($rocket){
		margin-right: 1em;
		margin-left: 1em;
	}

	@include breakpoint($starlord){
		margin-bottom: 4.28571428571429em;  // 60/14
	}

	@include breakpoint($gamora){
		margin-bottom: 3.3333333333em;  // 60/18
	}
}

.index-wrapper .main-content{  // specified in .index-wrapper to not affect .primary-content-wrapper

	@include breakpoint($gamora){
		margin-right: 3em;
		margin-left: 3em;
	}
}

.primary-content-wrapper .main-content{  // specified in .primary-content-wrapper to not affect .index-wrapper
	max-width: 45em;

	@include breakpoint($gamora){
		@include breakpoint($gamora){
			margin-right: 2em;
			margin-left: 2em;
		}

		@include breakpoint($drax){
			margin-right: 3em;
			margin-left: 3em;
		}
	}
}

.main-content{
	margin-top: calc(30 / 16 * 1rem);

	@include breakpoint($drax){
		margin-top: calc(45 / 16 * 1rem);
	}
}

.sidebar{
	margin: 0 0.75em 3.75rem;  // 60/16

	@include breakpoint($rocket){
		margin-right: 2em;
		margin-left: 2em;
	}

	@include breakpoint($gamora){
		margin-right: 5.675675675675676%;  // These values should match .main-content
		margin-left: 5.675675675675676%;
	}

	@include breakpoint($drax){
		//box model
		border-left: 1px solid mix($tint, $shade, 80%);
		margin: calc(45 / 16 * 1rem) 1em 0 0;
		padding-left: 1em;
		//typography
		@include base-type;
		color: mix($tint, $shade, 20%);

		p,
		.base{
			margin: 0.535714285714286em 0 1.071428571428571em;  // 22.5/3/14  15/14  So, 22.5 + 7.5 + 15 = 45
		}
	}

	@include breakpoint($groot){
		@include base-type-lg;

		p,
		.base{
			margin: 0.441176470588235em 0 0.882352941176471em;  // 22.5/3/17  15/17  So, 22.5 + 7.5 + 15 = 45
		}
	}
}

/**
 * E. Faux Wrappers
 *
 * For main-content and sidebar inside an index-wrapper, e.g., used
 * in the catalog. Use sparingly!
 */
#faux-content-wrapper{
	border-bottom: 2px dashed $evergreen-neue;

	@include breakpoint($gamora){
		width: 100%;
	}

	@include breakpoint($drax){
		border-bottom-width: 0;
		width: 66.6666666667%;  // 1/3
	}
}

#faux-sidebar-wrapper{

	@include breakpoint($gamora){
		width: 100%;
	}

	@include breakpoint($drax){
		// box model
		width: 33.3333333333%;  // 1/3
		// typography
		@include base-type;
	}
}

.faux-sidebar{

	@include breakpoint($drax){
		border-left: 1px solid mix($tint, $shade, 80%);
		padding-left: 1em;
	}
}


.spotlight{
	text-align: center;
}

/**
 * F. Hidden Elements
 *
 * For displaying less essential elements only when screen size
 * permits. Use sparingly!
 */
@media screen and (max-width: 20em){
	.gt20{
		display: none;
	}
}

@media screen and (max-width: 22em){
	.gt22{
		display: none;
	}
}

@media screen and (max-width: 32em){
	.gt32{
		display: none;
	}

	.ins32{  // deprecated //Insert inline elements at this break point
		//display: none;
	}
}

@media screen and (max-width: 43em){
	.gt43{
		display: none;
	}
}

@media screen and (max-width: 70em){
	.gt70{
		display: none;
	}
}

@media screen and (max-width: 88em){
	.gt88{
		display: none;
	}
}