/**
 * III. Module Styles
 *
 * Styles for specific or reusable, components.
 *
 * Table of Contents
 * 
 * A. Header
 * B. Background Image
 * C. Homepage Hero Image
 * D. Tertiary Nav
 * E. Page Footer
 * F. Special Typography
 * G. Lists
 * H. Tables
 * I. Icons
 * J. Media Segment
 * K. Spread Segment
 * L. Boxes
 * M. Images
 * N. Calendars
 * O. News
 * P. Profiles
 * Q. Directories
 * R. Embedded Content
 * S. Drupal Login
 * T. CMS
 */


// I am not sure if these serve a purpose anymore. I have no memory of this place.
// Try to delete them in the future and see if anything complains.
.top-links,
.search-list,
.primary-nav-unit h2,
.nav li{
	font-size: 0.695rem;
	line-height: 1.34831460674157; // 15/11.125
}

/**
 * A. Header
 */
@import "modules/header";

/**
 * B. Background Image
 */
.main-background,  // deprecated, use main-background2
.main-background2{
	// box model
	width: 100%;
	max-height: 100vh;
	// positioning
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.main-background .main-background-img,  // deprecated, use main-background2
.main-background > :first-child,
.main-background2 .main-background-img,  // deprecated, use main-background2
.main-background2 > :first-child{
	width: 100%;
	display: block;

	@include breakpoint($gamora){
		width: 100%;
		max-width: 80%;  // 4/5
	}

	@include breakpoint($drax){
		//max-width: 57.142857142857143%;  // 4/7
		max-width: calc(77em * 0.57142857142857143);  // 4/7, based on the context of the main content area
	}
}

.main-background2{
	position: sticky;
}

.main-background2 > .main-background-img,
.main-background2 > :first-child{
	// position
	position: absolute;

	@include breakpoint($gamora){
		// box model
		width: auto;
		max-height: 100vh;
	}
}

/**
 * We are going to use this later.
#main-background-img{
	filter: blur(1em);
	transition: all 0.085s cubic-bezier(0.19, 1, 0.22, 1) 0s;  // exponential
	//will-change: filter;
}
*/

.main-background2-enhanced #main-background-img{
	filter: none;
}

/**
 * C. Homepage Hero Image
 */
@import "modules/homepage-hero";

/*.profile-list > li{  // deprecated
	// layout
	overflow: hidden;
	// position
  position: relative;
}

.profile-list .profile-img-link{
  // layout
  display: block;
  overflow: hidden;
}

.profile-list .box{
	// box model
	margin-top: 0;
	margin-bottom: 0;
}

.profile-img{
	// box model
	margin-left: -50%;
  width: 200%;
  max-width: 685px;
  // layout
  display: block;
  
  @include breakpoint($lil-groot){
    margin-left: -25%;
    width: 150%;
  }
  
  @include breakpoint($starlord){
    margin-left: 0%;
    width: 100%;
  }
  
  @include breakpoint($gamora){
    width: 120%;
    margin-left: -10%;
  }
  
  @media screen and (min-width: 60em){
    width: 100%;
    margin-left: 0%;
  }
}
.profile-list .box{
	margin-top: -1.40625rem;  //22.5/16
  //margin-top: -2.142857142857143em;  //30/14
  position: absolute;
  bottom: 0;
}*/

/**
 * D. Tertiary Nav
 */
@import "modules/tertiary-nav";

/**
 * E. Page Footer
 */
@import "modules/footer";

/**
 * F. Special Typography
 *
 * Special, non-base element typography.
 */

.lead{
	margin-bottom: 0;
}

.follow{
	margin-top: 0;
}

.intro,  // deprecated, use .field-intro instead.
.field-intro{  // Drupal
	// box model
	margin: 1.17010764990379em 0;  // 22.5/19.229
	// typography
	color: mix($shade, $evergreen-neue, 20%);
	@include base-type-xl;

	@include breakpoint($gamora){
		// box model
		margin: calc(30 / 29.124 * 1em) 0 calc(60 / 29.124 * 1em);
		// typography
		font-size: 1.82rem;  // 29.124px  Step 3
		line-height: 1.5451174289246; // 45/29.124
	}

	@include breakpoint($groot){
		// box model
		margin: calc(30 / 31.112 * 1em) 0 calc(60 / 31.112 * 1em);  // 30/31.112
		// typography
		font-size: 1.945rem;  // 31.112px  Step 4
		line-height: 1.44638724607868;  // 45/31.112
	}
}

.intro-alt{
	color: mix($tint, $shade, 20%);
	font-weight: bold;
}

.big-fact{
	@include base-type-xl;

	@include breakpoint($drax){
		font-size: 1.82rem;  // 29.124px  Step 3
		line-height: 1.03007828594973; // 45/29.124
	}

	@include breakpoint($groot){
		font-size: 1.945rem;  // 31.112px  Step 4
		line-height: 1.44638724607868; // 45/31.112
	}
}

.key-number{  // e.g. http://www.evergreen.edu/about/facts
	// box model
	margin: 0.818419903972065em 0 0;
	// layout
	display: block;
	// typography
	color: $evergreen-neue;
	font-size: 1.945rem;  // 31.112px  Step 4
	font-weight: normal;
	line-height: 1.44638724607868;  // 45/31.112

	@include breakpoint($gamora){
		font-size: 2.945rem;  // 47.123px  Step 5
		line-height: 1.27326358678352;  // 60/47.123
	}
}

.machine-text{
	font-family: $monospace-face;
}

.main-content > p:last-child::after,
.main-content > ul:last-child > li:last-child::after,
.main-content > ol:last-child > li:last-child::after,
.main-content > dl:last-child > dd:last-child::after{
	white-space: nowrap;
	content: "\00A0" url("/_inc/images/endnote.png");

	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 150dpi){
		content: "\00A0" url("/_inc/images/endnote.svg");
	}
}

/**
 * G. Lists
 */
@import "modules/lists";

/**
 * H. Tables
 */
.dataTable{
	//font-family: "Proxima Nova Condensed", "Avenir Next Condensed", "Avenir", Helvetica, Arial, sans-serif;

	/*@include breakpoint($starlord){
		font-family: $text-face;
	}*/
}

/**
 * I. Icons
 */
@import "modules/icons";

/**
 * J. Media Segment
 */
@import "modules/media-segment";

/**
 * K. Spread Segment
 */
@import "modules/spread-segment";

/**
 * L. Boxes
 */
@import "modules/boxes";

/**
 * M. Images
 */
@import "modules/images";


/**
 * N. Calendars
 */
@import "modules/calendars";

/**
 * O. News
 */
.news{
	// box model
	//border-top: 1px solid mix($tint, $blueberry-susan, 80%);
	//border-bottom: 1px solid #d1cad6;
	// layout
	overflow: hidden;
	// backgrounds & borders
	//background-color: mix($tint, $blueberry-susan, 90%);
}

.news-wrapper{
	// box model
	margin: 0 auto;
	width: calc(100% - 2em);
}

.news-story{
	// box model
	border: 1px solid mix($tint, $blueberry-susan, 80%);
	height: calc(100% - 1em);
	margin-bottom: 1em;
	padding: 1em 1em 0;
	// layout
	display: flex;  // Drupal style
	flex-direction: column;  // Drupal style
	justify-content: flex-start;  // Drupal style
	// typography
	color: mix($tint, $shade, 20%);
	// decoration
	background-color: $tint;
	border-radius: 2px;
}

.news-story footer{  // Drupal styles
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/**
 * P. Profiles
 */
.profile .portrait-1-1{  // portrait with 1:1 ratio.
	border-radius: 50%;
	// shape
	shape-margin: 1em;
	shape-outside: circle() border-box;
}

.profession{
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@include breakpoint($starlord){
		@include base-type;
		font-weight: bold;
	}
}

.mini-bio-photo,  // deprecated, use .mini-profile-photo instead.
.mini-profile-photo{  // Deprecates .program-faculty in catalog.css; use this instead.
	// box model
	border: 1px solid mix($shade, $sky-blue, 60%);
	height: 3rem;
	// backgrounds & borders;
	border-radius: 50%;
}

/**
 * Q. Directories
 */
@import "modules/directories";

/**
 * R. Embeded Content
 */
.lazy-load{
	// box model
	border-bottom-width: 0;
	max-width: 100%;
	// layout
	display: block;
	overflow: hidden;
	// position
	position: relative;

	&::after{
		// box model
		height: 100%;
		width: 100%;
		// layout
		align-items: center;
		display: flex;
		justify-content: center;
		// position
		position: absolute;
		top: 0;
		// typography
		text-align: center;
		// backgrounds & borders
		background-image: url("/_inc/images/texture-1.png");
		// misc
		content: url("/_inc/images/icons/green/play.png");
  }

	&:hover::after{
		opacity: 0.85;
	}

	img{
		// box model
		margin: 0;
		// layout
		display: block;
	}
}

.blog .entries{
	// box model
	margin-left: 0;
	padding-left: 0;
	// list
	list-style-type: none;
}

.blog .entry{
	// layout
	overflow: hidden;
}

/**
 * S. Drupal Login
 *
 * Styles the Drupal login widget. This might be moved or consolidated
 * with a general Drupal section later.
 */
.form-required{  // The asterisk indicating a required form field.
	color: inherit;  // There’s no reason this needs to be bright red.
}

.item-list ul{  // This should match the default unordered list styles. If it doesn’t, update this.
	@include margin-default;
	margin-left: 1.07142857142857em;  // 15/14

	@include breakpoint($gamora){
		margin-left: 1.66666666666667em;  // 30/18
	}

	@include breakpoint($groot){
		margin-left: 1.56014353320505em; // 30/19.229
	}
}

#edit-actions--2{  // Drupal login button
	float: none;
	position: static;
}

/**
 * T. CMS
 *
 * Styles to make the CMS WYSIWYG editor look nice. Not seen on
 * published site.
 */

#tinymce{  // WYSIWYG
	// box model
	margin: 0 auto;
	padding: 0 2em;
	max-width: 48em;
	// layout
	display: block;
}

#toolbar{  // Drupal
	box-shadow: 0 1px 0.25em $drop-shadow;
}