/**
 * IV. State Styles
 *
 * Styles generally for elements that might have different states,
 * depending on how they're set. Typically these are for JS or
 * otherwise app-like functions.
 *
 * Table of Contents
 *
 * A. Primary Nav States
 * B. Accordions
 * C. UI
 */

/**
 * A. Primary Nav States
 */
.is-current-section{
	// typography
	color: $tint;
	// backgrounds and borders
	background-color: $evergreen-old-style;
}

.is-current-section a,
.is-current-section a:link
.is-current-section a:visited,
.is-current-section .is-explored-section:hover,
.is-current-section .is-explored-section:focus,
.is-current-section .is-explored-section:active{
	background-color: $evergreen-old-style;
}

/**
 * B. Accordions
 */

.is-expanded:before{
	//transforms & transitions
	transform: rotate(90deg);
	transition: all 0.2s linear;
}

/**
 * C. UI
 */

.is-selected-ui{
	// box model
	padding: 0 0.33em;
	// typography
	color: $tint;
	font-weight: bold;
	// backgrounds and borders
	background-color: $blueberry-susan;
}

.is-hidden{
	display: none !important;
}