/**
 * Boxes
 *
 * Boxes for containing things, usually with a background color.
 *
 * @section box
 */
.notice,  //deprecated
.box,
p.box{  //WYSIWYG
	//box model
	padding: 0 1em;
	//layout
	overflow: hidden;
	//typography
	color: mix(black, $sky-blue, 66%);
	//backgrounds & borders
	background-color: mix(white, $sky-blue, 80%);
	background-image: url("images/texture-1.png");
	border-radius: 2px;
}

.notice h2,  //deprecated
.box h2{
	color: mix(black, $sky-blue, 50%);
}

.notice h3,  //deprecated
.box h3,
.notice h4,  //deprecated
.box h4,
.notice h5,  //deprecated
.box h5{
	color: mix(black, $sky-blue, 66%);
}

.notice,  //deprecated
.note{
	border-left: 5px solid mix(white, $sky-blue, 60%);
	
	@media screen and (min-width: 22em){
		padding-left: -webkit-calc(1em - 5px);  //Chrome 25, Safari 6, Mobile Safari 6, Blackberry Browser 10
		padding-left:         calc(1em - 5px);
	}
}
.alert,
p.alert{
	//box model
	//border: 1px solid $wine;  //Conflicts with sitewide alert JS. Might be worth changing how that works.
	//typography
	color: $wine;
	//backgrounds & borders
	background-color: $highlight;
	border-radius: 0;
}
#sitewide-alert{  //deprecated
	border-radius: 0;
	transition: all .5s ease-in;
}

//captioned images
.caption-box{
	//typography
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, .5);
	//backgrounds and borders
	background-color: hsla(0, 0%, 95%, .6666666667);
	
	img{
		@include x-rem(margin-bottom, 0.625);
	}
}

//pull quotes
.pull-box{
    background-color: $evergreen-neue;
    
    @media screen and (min-width: 43em){
    	margin-bottom: 1.071428571428571em;  //15px
    }
}
.pull-quote{
	@include base-type-lg;
	
	@media screen and (min-width: 43em){
		margin: .2727272727em 0 .8181818182em 0;
	}
	
	@media screen and (min-width: 70em){
		@include x-rem(font-size, 1.719);  //20px
		line-height: 1.090710779858208;  //30/27.505
	}
}
.pull-quote,
.pull-quote + .figcaption,  //deprecated
.pull-quote + figcaption{
    color: #f3f3f3;
}
.pull-quote{
    font-style: italic;
}

.pull-box-alt{
	background-color: $sky-blue;
}

/**
 * Full Box
 *
 * A box with a header and possibly a footer.
 *
 * @section box-full
 */

.full-box{
	border: 1px solid $sky-blue;
	padding: 0;
	background: $sky-blue url(images/texture-1.png);
}
.full-box h2,
.full-box h3{
	color: #fff;
}
.full-box > .box{
	background-color: #f5f5f5;
}

/**
 * UI Group
 *
 * A different kind of box; a group of elements, typically UI
 * that need visual separation from one another, or from other
 * elements.
 
 * @section ui-group
 */
.ui-group{
	//box model
	border: 1px solid mix(white, $blueberry-susan, 75%);
	margin-bottom: 0.46875rem;  //7.5px
	padding: 0 1em;
	//layout
	overflow: hidden;
	//backgrounds & borders
	background-color: mix(white, $blueberry-susan, 85%);
	border-radius: 2px;
		
	&:hover{
		//backgrounds & borders
		background-color: mix(white, $blueberry-susan, 90%);
		border-color: mix(white, $blueberry-susan, 80%);
		//transitions
		-webkit-transition: all .2s ease-out;
		        transition: all .2s ease-out;
	}
	
	@media screen and (min-width: 43em){
		&.unit-1-2{
			margin: 0.234375rem;  //3.75px
			width: -webkit-calc(50% - 0.46875rem);  //Safari 6
			width:         calc(50% - 0.46875rem);  //7.5px
		}
		&.unit-1-3{
			margin: 0.234375rem;  //3.75px
			width: -webkit-calc(33.3333333333% - 0.46875rem);  //Safari 6
			width:         calc(33.3333333333% - 0.46875rem);  //7.5px
		}
		
		.media{
			//padding: 0 0.9375rem;  //17px
			width: 100%;
		}
	}
}