/**
 * Images
 *
 * Image modules, typically for laying them out within an article.
 *
 * @section img
 */
.left,  //deprecated
.illus,  //deprecated
.illus-alt,  //deprecated
.illus-full,  //deprecated
.image,
.image img,  //WYSIWYG
.image-alt,
.image-full,
.image-full img{  //WYSIWYG
	//box model
    border: 1px solid mix(black, $sky-blue, 60%);
    margin:0 auto;
    max-width: 100%;
    //layout
    display:block;
    border-radius: 2px;
    //backgrounds & borders
    background-color: $sky-blue;
    //transforms
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
    //miscelaneous
    box-shadow: 0 2px 2px $shadow;
}

.illus-full,  //deprecated
.image-full,
.image-full img{  //WYSIWYG
    margin: .631100639515315em auto 1.262201279030629em auto; //15/11.884/2 15/11.884  //This should have the same vertical metrics as a p
    max-width: 99%;  //IE8
    max-width: -webkit-calc(100% - 2px);
    max-width:         calc(100% - 2px);
}

.supplement-illus{  //Illustrations in supplemental boxes. Should be paired with text.  //deprecated; use image-full
    max-width: 99%;  //IE8
    max-width: -webkit-calc(100% - 2px);
    max-width:         calc(100% - 2px);
}

@media screen and (min-width:32em){
	.left,  //deprecated
	.illus,  //deprecated
    .illus-alt,  //deprecated
	.image,
	.image img,  //WYSIWYG
	.image-alt{
        max-width: 49%;
    }
    .left,  //deprecated
    .illus,  //deprecated
    .illus-alt,  //deprecated
    .image,
    .image img,  //WYSIWYG
    .image-alt{
    	//box model
        margin: 0 0 0.631100639515315em 2%;  //7.5/11.884
        //layout
        clear: right;
        float: right;
    }
}
@media screen and (min-width:43em){
	.left,  //deprecated
	.illus,  //deprecated
    .illus-alt,  //deprecated
	.image,
    .image img,  //WYSIWYG
	.image-alt{
        //width: 47%;
        max-width: 345px;
    }
}
@media screen and (min-width:70em){
	.illus-alt,  //deprecated
	.image-alt{
		//box model
		margin: 0 0 0.631100639515315em -41.722972972972973%;  //7.5/11.884  Weird math for the left margin.
		width: 38.260135135135135%;  //It took weird math to get here.
		//layout
        clear: left;
        float: left;
    }
}