/**
 * Media Block
 *
 * A common pattern wherein copy is floated next to a graphic.
 *
 * @section mod-media
 */
.media{
	clear: left;  //IE9
	display:  -ms-flexbox;  //IE10
	display: -webkit-flex;  //Safari
	display:         flex;  //W3C
	//layout
}
.media-img,
.media-img:link{
	//box model
	border-bottom-width: 0;
	margin-bottom: 1.071428571428571em;  //15px
	padding-right: 1.071428571428571em;  //15px
	max-width: 31.3333333333%;
	//layout
	float: left;  //IE9
	           -ms-flex: 0 0 auto;  //IE10
	-webkit-flex-shrink: 0;  //Do not allow the image to shrink. Note: this does respect the max-width property.
	        flex-shrink: 0;  //W3C
	
	@media screen and (min-width: 43em){
		padding-right: 0.882352941176471em;  //15px
	}
}

//Vertically center .media-img. Extends .media-img or .media-body.
.media-img-alt,  //deprecated, use .media-child-alt instead
.media-child-alt{
	-ms-flex-item-align: center;  //IE10
	 -webkit-align-self: center;  //Safari
	         align-self: center;  //W3C
}

.media-img img{
	@include x-rem(margin-top, 0.46875);  //Align the .media-body content with the .media-img content.
	display: block;
}

.media-img-icon{
	max-height: 3.75rem;
}

.media-body{
	overflow: auto;  //IE9  //Gives block formatting context
	/*Alternate way to give block formatting context
	display: table-cell;  //Gives block formatting context (pretty nifty!): http://www.youtube.com/watch?v=8YtQwv1cUVs
	width: 3000px;  //Stretches box to fit the remaining width; this is not the actual value that comes out.*/
}

.media-body :first-child{
	@include x-rem(margin-top, 0.46875);  //Align the .media-body content with the .media-img content.
}

//Put .media-img on the right. Extends .media
.media-alt{
	    -ms-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.media-alt .media-img{
	margin-right: 0;
	margin-left: 2%;
	float: right;  //IE9
}

//Put .media-img on the top. Extends .media
.media-column{
        -ms-flex-direction: column;
	-webkit-flex-direction: column;
	        flex-direction: column;
	    -ms-align-items: stretch;
	-webkit-align-items: stretch;
	        align-items: stretch;
}
.media-column .media-img{
  margin-right: 0;
  max-width: 100%;
  float: none;  /*IE9*/
  text-align: center;
}
.media-column .media-img img{
  margin: 0 auto;
}


/*@media screen and (min-width:32em){
	.media-list .media{
		//box model
		width: 31.3333333333%;
		//layout
		display: inline-block;
		vertical-align: top;
	}
	.media-list .media:nth-child(3n){
		margin-right: 0;
	}
}*/