/**
 * 5. Responsive Overrides
 *
 * @section responsive
 */
        
/**
* 5.2 7-Column Grid
*
* Officially 7-column grid territory.
*
* @subsection r-7-column
*/
@media screen and (min-width: 43em){
	/**
	* Module Styles
	*/
	/*.primary-nav:after{
		//layout
		clear: none;
		display: inline;
		//misc
		content: none;
	}*/
	/*.top-nav-link,
	.top-nav-link:visited{
		//typography
		font-weight: bold;
		}
	}*/
}
	
@media screen and (min-width:70em){
	/**
	* Module Styles
	*/
	/*.top-nav-link,
	.secondary-nav-link{
		font-size: inherit;
		line-height: inherit;
	}*/
}