/**
 * NOTE:
 *
 * Webform .form-items wrap around each label + input pair, so put margins
 * on .form-items and remove them from form fields.
 */

.webform-client-form .form-item,
.webform-client-form .form-actions{
	// box model
	@include margin-default;
	margin: 0;
	// layout
	clear: left;

	@include breakpoint($gamora){
		@include margin-default-lg;
	}
}

.webform-client-form input[type="text"],
.webform-client-form select{
	margin: 0;  // See note, above.
}

.webform-client-form label{
	// box model
	margin: 0;
	// typography
	font-weight: normal;
}

.webform-client-form .description{
	// box model
	margin: calc(15 / 11.12 * -1em) 0 calc(22.5 / 11.12 * 1em);
	// typography
	@include small-type;

	@include breakpoint($gamora){
		// box model
		@include margin-default;
		// typography
		font-family: $text-face;
		@include base-type;
	}
}

.webform-client-form input.year{  // input is specified because sometimes select boxes can be years, and their width should be auto
	width: calc(4.1ch + 1em);  // 4ch for four numbers, 1em to account for padding
}

.webform-container-inline input[type="radio"],
.webform-container-inline input[type="checkbox"]{
	// box model
	margin-right: 0;
	// layout
	float: none;
}

.webform-container-inline label{
	margin-right: 0;
}

.webform-container-inline input + label{
	// box model
	margin-right: 1ch;
	// layout
	float: none;
}

.resizable-textarea .grippie{  // This should match the dimensions of the textarea; if it doesn't, update these styles
	width: 100%;
	max-width: calc(45ch + 1em);
	min-width: 50%;
}

.webform-client-form .button-primary{
	@extend input.prime;
}

.webform-client-form .button-primary[disabled]{
	@extend .prime[disabled];
}