.views-exposed-form .views-submit-button,
.views-exposed-form .views-reset-button{
	display: inline-block;
}

.views-exposed-form .views-exposed-widget .form-submit{  // Inline submit button? See Activites filter page: http://collabtest.evergreen.edu/www/node/3764
	margin-top: calc(20 / 16 * 1rem);

	@include breakpoint($gamora){
		margin-top: calc(22.5 / 16 * 1rem);
	}
}

.views-widget-filter-combine input{  // Input combined with a description? See Activites filter page: http://collabtest.evergreen.edu/www/node/3764
	margin-bottom: 0;
}

.tertiary-nav-wrapper .views-exposed-form{
	@include margin-default;

	@include breakpoint($gamora){
		@include base-type;
	}
}

.tertiary-nav-wrapper .views-exposed-widget{
	padding: 0;
}