/**
 * Typographic Styles
 *
 * Base styles that make the text look nice and readable.
 * 
 * Table of Contents
 *
 * 1. Base Typography ........... (base-type)
 * 2. Headings .................. (h)
 * 3. Lists ..................... (l)
 * 4. Links ..................... (a)
 * 5. Other Typography .......... (other-type)
 */

/**
 * 1. Base Typography
 *
 * @section base-type
 */
html{
	font-size: 100%;
}

body{
	font-family: $text-face;
	// OpenType features available in Proxima Nova
	// c2sc - Small capitals from capitals (Note: don't use font-feature-settings for small-caps)
	// frac - Fractions
	// liga - Standard ligatures
	// lnum - Lining figures ("uppercase" numbers)
	// onum - Oldstyle figures ("lowercase" numbers)
	// ordn - Ordinals (1st, 2nd) - bad support
	// pnum - Proportional figures (Varying width numbers)
	// salt - Stylistic alternates
	// smcp - Small capitals (Note: don't use font-feature-settings for small-caps)
	// ss## - Stylistic sets (## is 01-20; I don't know how many sets this font has)
	// subs - Subscripts
	// sups - Superscripts
	// tnum - Tabular figures (Fixed-width numbers)
	font-feature-settings: "kern", "liga", "onum";  // Low-level OpenType features; these could be turned off eventually
	font-kerning: normal;
	font-variant-ligatures: common-ligatures discretionary-ligatures;
	font-variant-numeric: oldstyle-nums;
	text-rendering: optimizeLegibility;
}

body,
input,
button{
	-webkit-font-smoothing: antialiased;  //Reduce text chubbiness in Safari, Chrome
	-moz-osx-font-smoothing: grayscale;  //Reduce text chubbiness in Firefox
}

body,
.base{
	@include base-type;  // Step 0.5
	
	@include breakpoint($gamora){
		@include base-type-lg;  // Step 1
	}
	
	@include breakpoint($groot){
		@include base-type-xl;  // Step 2
	}
}

p,
ul,
ol,
dl,
blockquote,
figure,
.base{
	margin: 0.535714285714286em 0 1.071428571428571em 0;  //22.5/14/3 15/14  So, 22.5 + 7.5 + 15 = 45
	
	@include breakpoint($gamora){
		margin: 0.441176470588235em 0 0.882352941176471em 0;  //7.5/17/3  15/17  So, 22.5 + 7.5 + 15 = 45
	}
	
	@include breakpoint($groot){
		margin: 0.51996672212978em 0 1.03993344425957em 0;  //10/19.232 20/19.232  So, 30 + 10 + 20 = 60
	}
}

/**
 * Removing hyphen rules for now.
 * English doesn't have long enough words to warrant this,
 * and we’re not justifying text,
 * but consider it for narrow columns.
 */
/*p{
	hyphens: auto;
	hyphenate-limit-lines: 2;
}*/

/**
 * 2. Headings
 *
 * @section h
 */
h1{
	//box model
	margin: 0.96401028277635em 0 0 0;  // 30/31.12
	//typography
	font-size: 1.945rem;  // 31.12px  Step 4
	font-weight: normal;
	line-height: 1.44601542416452;  // 45/31.12

	@include breakpoint($starlord){
		//box model
		margin-top: 0.818419903972065em;
		//typography
		font-size: 2.291rem;  // 36.656px
		line-height: 1.227629855958097;  // 45/35.656
	}
    
	@include breakpoint($gamora){
		//box model
		margin-top: 0.673975557153127em;   // 30/44.5167
		//typography
		font-size: 2.782rem;  // 44.512px  Step 5
		line-height: 1.010963335729691;  // 45/44.5167
	}
	
	@include breakpoint($groot){
		//box model
		margin-top: 1.19198982835346em;  // 60/50.366
		//typography
		font-size: 3.146rem;  // 50.336  Step 6
		line-height: 1.19198982835346;  // 60/50.336
	}
}
h2{
	//box model
  margin-top: 1.55990016638935em;  // 30/19.232
  //typography
  color:#666;
  font-size: 1.202rem;  // 19.232px  Step 2
  font-weight:bold;
  line-height: 1.55990016638935;  // 30/19.232
  
  @include breakpoint($gamora){
  	//box model
  	margin-top: 1.090750436300175em;  // 30/27.504
  	//typography
    font-size: 1.719rem;  // 27.504px  Step 3
    line-height: 1.090750436300175; // 30/27.504
  }
  
  @include breakpoint($groot){
  	//box model
  	margin-top: 0.96401028277635em;  // 30/31.12
  	//typography
    font-size: 1.945rem;  // 31.12px  Step 4
    line-height: 0.96401028277635;  // 30/31.12
  }
}
h3{
	//box model
	margin-top: 1.32352941176471em;  // 22.5/17
	//typography
	color:#333;
	font-size: 1.063rem;  // 17px  Step 1
	font-weight: normal;
	line-height: 1.32352941176471;  // 22.5/17
    
	@include breakpoint($gamora){
		//box model
		margin-top: 1.1761938367443em;  // 30/25.506
		//typography
		font-size: 1.594125rem;  // 25.506px - otherwise appears optically taller than h2; Step 3 - 2px
		line-height: 1.176286072772898;  // 30/25.504
	}
    
	@include breakpoint($groot){
		//box model
		margin-top: 1.06715993170176em;  // 30/28.112
		//typography
		font-size: 1.757rem;  // 28.112px - otherwise appears optically taller than h2; Step 4 - 3px
		line-height: 1.06715993170176;  // 30/28.112
	}
}
h4,
h5,
h6{
	//box model
  margin-top: 1.07142857142857em;  // 15/14
  //typography
  font-size: 0.875rem;  // 19.232px  Step 0.5
  line-height: 1.60714285714286;  // 22.5/14
  
  @include breakpoint($gamora){
  	//box model
  	margin-top: 1.46814133307233em;  // 30/20.434
  	//typography
    font-size: 1.202rem;  // 20.434px  Step 2
    line-height: 1.46814133307233; // 30/20.434
  }
  
  @include breakpoint($groot){
  	//box model
    margin-top: 1.090750436300175em;  // 30/27.504
    //typography
    font-size: 1.719rem;  // 27.504px  Step 3
    line-height: 1.090750436300175;  // 30/27.504
  }
}
h5{
  color: #666;
  font-weight: bold;
}
h6{
	color: #666;
  font-style: italic;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6{
	// Bottom margin should match the p's top margin exactly, for consistency. If they don't match, change this rule.
	margin-bottom: 0.46875rem; // 7.5px

	@include breakpoint($groot){
		margin-bottom: .625rem;  // 10px
	}  
}

/**
 * 3. Lists
 *
 * @section l
 */
ul,
ol{
	margin-left: 1.76470588235294em;
	padding-left: 0;
}

ul,
dl{
    padding: 0;
}

ol ol{
	list-style-type: lower-alpha;
}

dt{
	//box model
	margin-top: 0.535714285714286em;  // 22.5/14/3 - Same as p margin-top
	//typography
	font-weight: bold;
	
	@include breakpoint($groot){
		margin-top: 0.51996672212978em;  // 10/19.232 - Same as p margin-top
	}
}
dd{
	margin-bottom: 1.071428571428571em;  // 15/14 - Same as p margin-bottom
	margin-left: 0;
	
	@include breakpoint($groot){
		margin-bottom: 1.03993344425957em;  // 20/19.232 - Same as p margin-bottom
	}
}
dd > p:first-child,
dd > ul:first-child,
dd > ol:first-child,
dd > blockquote:first-child,
dd > blockquote:first-child > p:first-child{
	margin-top: 0;
}

/**
 * 4. Links
 *
 * @section a
 */
a,
.internal-users a:visited,
.search-tools a:visited,
.tertiary-nav-list a:visited{
	//box model
	border-bottom: 1px solid mix(white, $blueberry-susan, 75);
	//typography
	color: $blueberry-susan;
	font-weight: bold;
	text-decoration: none;
	transition: color .2s, border-color .2s ease;
}
a:visited{
    border-bottom-color: mix(white, $wine, 75);
    color: $wine;
}
a:hover,
.internal-users a:hover,
.search-tools a:hover,
.tertiary-nav-list a:hover{
  border-bottom-color: $sky-blue;
  color: $sky-blue;
}
a:focus,
a:active{
  outline-width: 0;
  background-color: transparentize($blueberry-susan, .9);
}

	/**
	 * 4.1 Site Name Link
	 *
	 * @section a-site-name
	 */
	.site-name a{
		border-bottom-width: 0;
	
		&,
		&:visited{
	    color: #fff;
	    text-shadow: 0 1px 3px hsl(275, 33%, 11%);
	    
	    @include breakpoint($drax){
	    	text-shadow:
					-1px 1px $blueberry-susan,
					-1px 2px $blueberry-susan,
					-2px 3px $blueberry-susan,
					-2px 4px $blueberry-susan,
					-3px 5px $blueberry-susan,
					-3px 6px $blueberry-susan,
					-4px 7px 0.5px $blueberry-susan
	    }
		}
		
		&:hover{
	    
	    @include breakpoint($drax){
	    	text-shadow:
					-1px 1px $sky-blue,
					-1px 2px $sky-blue,
					-2px 3px $sky-blue,
					-2px 4px $sky-blue,
					-3px 5px $sky-blue,
					-3px 6px $sky-blue,
					-4px 7px 0.5px $sky-blue
	    }
		}
	}
	

/**
 * 5. Other Typography
 *
 * @section other-type
 */

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

figcaption,
small,
//caption,  // table caption
.details,  // deprecated
.caption{
	@include small-type;
	
	@include breakpoint($groot){
		font-family: $text-face;
		@include base-type;
	}
}

small{
	//color: #333;
	
	[role="contentinfo"] &{
		color: #ccc;
	}
}

abbr{
	// box model
	border-bottom: 1px dashed mix($tint, $black, 75%);
	// misc
	cursor: help;
}

code,
pre{
	font-family: monospace, serif;
}

blockquote{
	// box model
	padding-left: 1em;
	// typography
	font-style: italic;
}

@supports (font-variant-position: super){
	sup{
		font-size: inherit;
		font-variant-position: super;
		vertical-align: inherit;
	}
}

@supports (font-variant-position: sub){
	sub{
		font-size: inherit;
		font-variant-position: sub;
		vertical-align: inherit;
	}
}

hr{
	// box model
	border: 0;
	height: 5px;
	margin: 2.8125rem 0;  // 45/16
	// backgrounds & borders
	background-color: $evergreen-neue;
}