/**
 * 5. Campus Event Calendar
 *
 * The list of upcoming events around campus on the Drupal site. Replaces
 * the Google Calendar listing.
 *
 * Table Of Contents
 *
 *  a.    Base Calendar Styles
 *  b.    Calendar Heading
 *  c.    Calendar List View
 *  c.i.  Calendar List View Time Column
 *  c.ii. Calendar List View Items Column
 *  d. Calendar Week and Month View
 *  e. Single Day
 *  f. Multi-day
 *  g. Events By Category
 */

/**
 * a. Base Calendar Styles
 */
.calendar-item{  // This might be deprecated now. I'm not sure if this class appears on the page now.

	padding: 0.535714285714286em 1em 1.071428571428571em;  //22.5/14/3 15/14  So, 22.5 + 7.5 + 15 = 45

	@include breakpoint($gamora){
		padding: 0.441176470588235em 1em 0.882352941176471em;  //7.5/17/3  15/17  So, 22.5 + 7.5 + 15 = 45
	}

	@include breakpoint($groot){
		padding: 0.51996672212978em 1em 1.03993344425957em;  //10/19.232 20/19.232  So, 30 + 10 + 20 = 60
	}
}

.calendar-calendar{
	background-clip: transparent;
}

.calendar-calendar table,
.calendar-calendar .month-view table{
	@include margin-default;
}

.calendar-calendar th{
	text-align: inherit;
}

.calendar-calendar tr{
	background-color: transparent;
}

.calendar-calendar td{
	width: auto;
}

.calendar-calendar td.empty{
	color: inherit;
}

.calendar-calendar td a:hover{
	text-decoration: none;
}

.calendar-calendar div.calendar{
	//typography
	font-size: inherit;
}

.calendar-calendar td.calendar-agenda-items div.calendar{
	// box model
	border-right-width: 0;
	padding: 0;
	width: 100%;
	// backgrounds and borders
	background-color: transparent;
}

.calendar-calendar td .inner div.calendar .contents{
	padding: 0.25rem 0.25em 0.625rem;  // 4/16    10/16
}

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview{
	padding: 0;
}

.calendar-calendar .month-view .full .inner,
.calendar-calendar .week-view .full .multi-day .inner{
	//margin-right: 0.5em;
}

/**
 * b. Calendar Heading
 */
.view .date-nav-wrapper .date-nav{
	margin-bottom: 0;
	padding-bottom: 0;
}

.item-list ul{
	margin: inherit;
}

.item-list ul li{
	// box model
	margin-left: 0;
}

.view .date-nav-wrapper .date-heading h3,
.date-nav div.date-heading h3,
.date-nav-wrapper .date-heading h3{
	// box model
	margin-top: 1.66666666666667em;  // 30/18
	margin-bottom: 0.46875rem; // 7.5px  // Bottom margin should match the p's top margin exactly, for consistency. If they don't match, change this rule.
	// typography
	@include base-type-lg;

	@include breakpoint($gamora){
		// box model
		margin-top: 1.10603155876714em;  // 30/27.124
		// typography
		font-size: 1.69525rem;  // 27.124px - otherwise appears optically taller than h2; Step 3 - 2px
		line-height: 1.10603155876714;  // 30/27.124
	}

	@include breakpoint($groot){
		// box model
		margin-top: 1.54575432811212em;  // 45/29.112
		margin-bottom: 0.625rem;  // 10px  // Bottom margin should match the p's top margin exactly, for consistency. If they don't match, change this rule.
		// typography
		font-size: 1.8195rem;  // 29.112px - otherwise appears optically taller than h2; Step 4 - 3px
		line-height: 1.03050288540808;  // 30/29.112
	}
}

.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next{
	// position
	position: static;
	// typography
	font-size: inherit;

	@include breakpoint($starlord){
		position: absolute;
	}
}

.view .date-nav-wrapper .date-prev{
	// layout
	float: left;
	right: auto;
	left: 0;
}

.view .date-nav-wrapper .date-next{
	float: right;
}

.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a{
	// box model
	margin: 0 0.25em;
	// typography
	color: $blueberry-susan;

	&:visited{
		color: $wine;
	}

	&:hover{
		color: $sky-blue;
	}
}

/**
 * c. Calendar List View
 */

.calendar-calendar .day-view td,
.calendar-calendar .day-view td.calendar-agenda-items{
	// box model
	border-width: 0;
	// typography
	color: inherit;
}

.calendar-calendar td .inner div,
.calendar-calendar td .inner div a{
	background-color: transparent;
}

.calendar-calendar .day-view div.calendar,
.calendar-calendar .day-view .calendar-agenda-hour span.calendar-hour,
.calendar-calendar .day-view .calendar-agenda-hour span.calendar-ampm{  // Since these entries are “full width”, they can be the default font-size.
	text-align: left;

	@include breakpoint($gamora){
		@include base-type-lg;
	}

	@include breakpoint($groot){
		@include base-type-xl;
	}
}

.calendar-calendar td.calendar-agenda-hour,
.calendar-calendar .day-view .full .calendar-agenda-hour,
.calendar-calendar td.calendar-agenda-items .calendar.dayview{
	// box model
	border-bottom: 1px solid mix($tint, $blueberry-susan, 80%);
	border-right-width: 0;
	border-left-width: 0;
	padding: 0;
}

.calendar-calendar .day-view .calendar-agenda-items{
	padding-left: 1em;
}

.calendar-calendar .month-view .full .inner .monthview,
.calendar-calendar .week-view .full .inner .weekview,
.calendar-calendar .day-view .full .inner .dayview{
	// box model
	margin: 0;
	// decoration
	border-radius: 2px;
}

.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview,
.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview,
.calendar-calendar .day-view .full td.single-day{
	// box model
	height: inherit;
	margin-bottom: inherit;
	//padding: 0;
	// layout
	align-items: stretch;
	display: flex;
	justify-content: stretch;
	// typography
	color: inherit;
	// backgrounds and borders
	background: transparent none;
}

/**
 * c.i. Calendar List View Time Column
 */
.calendar-agenda-hour{
	white-space: nowrap;  // Make sure the space doesn't break between, e.g. 12 and pm.
}

.all-day .calendar-agenda-hour{
	white-space: normal;  // When the time is “All day”, the space can break.
}

.calendar-calendar .day-view .full .calendar-agenda-hour{
	padding-top: 0.535714285714286em;  // Should match margin-default
	padding-bottom: 1.071428571428571em;  // Should match margin-default
}

.calendar-calendar td.calendar-agenda-hour .calendar-hour,
.calendar-calendar td.calendar-agenda-hour .calendar-ampm{
	// box model
	//@include margin-default;
	display: inline-block;
	// typography
	font-size: inherit;
	font-weight: inherit;
}

.calendar-hour{

	&::after{
		content: "\a0";  // Non-breaking space
	}
}

/**
 * c.ii. Calendar List View Items Column
 */

.calendar-calendar .day-view .full td .inner div.calendar div,
.calendar-calendar .day-view .full td .inner div.calendar div a{
	margin: 0;
}

.calendar-calendar .day-view .full td .inner div.calendar div a{
	padding: 0;
}

/**
 * d. Calendar Week and Month View
 */
.week-view .full,
.month-view .full{
	background-color: $tint;
}

.calendar-calendar .week-view .calendar,
.calendar-calendar .week-view .calendar-agenda-hour,
.calendar-calendar .month-view .calendar,
.calendar-calendar .month-view .calendar-agenda-hour{
	@include small-type;
	letter-spacing: -0.03em;
	text-align: left;
}

.calendar-calendar .week-view .full .calendar-agenda-hour{
	padding: 0 0.25em;
	width: auto;
}

.calendar-calendar .week-view td,
.calendar-calendar .week-view .full td.multi-day,
.calendar-calendar .week-view td.calendar-agenda-items{
	// box model
	border-right-width: 0;
	border-left-width: 0;
	padding: 0;
	// typography
	color: inherit;
}

.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty{
	background: transparent none;
}

.calendar-calendar .month-view .full td{
	padding: 0;
}

.calendar-calendar .month-view .full td .inner div.day,
.calendar-calendar .month-view .full td .inner div.day a{
	width: auto;
}

.calendar-calendar .month-view .full tr td.today,
.calendar-calendar .month-view .full tr td.single-day.today,
.calendar-calendar .month-view .full tr.odd td.today,
.calendar-calendar .month-view .full tr.even td.today,
.calendar-calendar .month-view .full td.date-box.today,
.calendar-calendar .month-view .full tr td.multi-day.starts-today{
	// background and borders
	background-color: $morning-light;
	border-color: $evergreen-old-style;
}

.calendar-calendar .month-view .full tr td.multi-day.ends-today{
	// box model\
	border-color: $evergreen-old-style;
}

.calendar-calendar .month-view .full tr.date-box,
.calendar-calendar .month-view .full tr.date-box td,
.calendar-calendar .month-view .full tr.multi-day,
.calendar-calendar .month-view .full tr.multi-day td{
	height: inherit;
	max-height: none;
}

.calendar-calendar .month-view .full td.single-day .calendar.monthview .contents,
.calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
.calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents{
	// box model
	border-top: 1px solid mix($tint, $blueberry-susan, 80%);
	width: auto;
	// layout
	align-items: center;
	display: flex;
	flex-grow: 1;
	// position
	position: static;
}

/**
 * e. Single-day
 */

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview{
	//padding: 0 0.25em;
}

/**
 * f. Multi-day
 */
.calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
.calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents{
	// backgrounds and borders
	background-color: mix($tint, $blueberry-susan, 90%);
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continuation,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continuation{
	height: inherit;
	margin: 0 0.25em 0 0;
	padding: 0;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues{
	// box model
	border-top: 1px solid mix($tint, $blueberry-susan, 80%);
	height: inherit;
	padding: 0 0.25em 0 0;
	width: auto;
	// layout
	align-items: center;
	display: flex;
	// position
	position: static;
	//z-index: 0;
	// decoration
	background-color: mix($tint, $blueberry-susan, 90%);
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff{
	// box model
	border-top: 1px solid mix($tint, $blueberry-susan, 80%);
	height: inherit;
	padding-left: 0;
	width: 0.5em;
	// position
	position: static;
	// decoration
	background-color: mix($tint, $blueberry-susan, 80%);
	border-radius: 0 2px 2px 0;
}

/**
 * g. Events by Category
 */
.view-calendar .views-field-title{
	margin-top: 0.535714285714286em;  // Should match default top margins exactly.

	@include breakpoint($gamora){
		margin-top: 0.41666666666667em;  // Should match default top margins exactly.
	}

	@include breakpoint($groot){
		margin-top: 0.52004784440168em;  // Should match default top margins exactly.
	}
}

.date-display-range,
.view-calendar .date-display-range,  // Needed to override specificity in .view-calendar.
.date-display-single{
	// box model
	margin-bottom: 1.071428571428571em;  // Should match default top margins exactly.
	// display
	display: inline;  // This keeps the year from being awkwardly bumped to the next line.

	@include breakpoint($gamora){
		margin-bottom: 0.83333333333333em;  // Should match default top margins exactly.
	}

	@include breakpoint($groot){
		margin-bottom: 1.04009568880337em;  // Should match default top margins exactly.
	}
}

.views-exposed-form label{
	font-weight: inherit;
}