/**
 * Form Styles
 *
 * Base styles that make the forms a pleasure to fill out.
 * 
 * Table of Contents
 *
 * 1. Sidebar Overrides
 * 2. Views Module Forms
 * 3. Webform Module
 * 4. Search
 */

/**
 * For more on reseting fieldsets and legends, see https://thatemil.com/blog/2015/01/03/reset-your-fieldset/.
 */
fieldset{
	border-width: 0;
	margin: calc(30 / 16 * 1rem) 0;
	padding: 0;
}

legend{
	// box model
	@include margin-default;
	padding: 0;
	// layout
	display: table;  // Allows line-wrapping in IE.
	// typography
	letter-spacing: 0.25ch;
	text-transform: uppercase;

	@include breakpoint($gamora){
		@include margin-default-lg;
	}
}

label{
	display: inline;
}

input,
select,
textarea{
	// box model
	border: 1px solid mix($tint, $blueberry-susan, 60%);
	margin-bottom: calc(15 / 16 * 1rem);
	max-width: 100%;
	//typography
	font-family: $text-face;
	@include base-type;
	// backgrounds & borders
	border-radius: 2px;

	&:focus{
		// misc
		box-shadow: 0 0 2px 1px $drop-shadow;
	}

	@include breakpoint($gamora){
		@include base-type-lg;
	}
}

input{
	// box model
	height: 1.875rem;  // Step 3
	padding: 0 0.5em;
	// typography
	font-size: 1em;
}

input[type="text"]{
	width: 100%;
	max-width: calc(45ch + 1em);
}

input[type="email"]{
	width: 100%;
	max-width: calc(30ch + 1em);  // Long enough to fully display about 95% of all email addresses
}

input[type="password"],
input[type="tel"]{
	width: 100%;
	max-width: calc(15ch + 1em);  // Long enough to fully display a standard 11-digit phone number (with punctuation) or 20-digit concealed password
}

select{
	// box model
	height: calc(30 / 16 * 1rem);
	padding: 0 0.5em;
	// typography
	text-shadow: 0 1px 0 $highlight;
	// misc
	box-shadow: 0 0.1em 0.1em $drop-shadow inset;
	cursor: pointer;

	&:hover{
		// backgrounds & borders
		background-color: mix($tint, $blueberry-susan, 90%);
		border-bottom-style: dashed;
	}
}

textarea{
	// box model
	padding: calc(7.5 / 16 * 1rem) 0.75em;
	width: 100%;
	max-width: calc(45ch + 1em);
	min-width: 50%;

	@include breakpoint($gamora){
		// box model
		@include margin-default-lg;
	}
}

input[type="checkbox"],
input[type="radio"]{
	// margin
	height: calc(14 / 16 * 1rem);
	margin: 0 0.5ch calc(20 / 16 * 1rem) 0;
	width: 1em;
	// layout
	clear: left;
	float: left;
	vertical-align: top;

	@include breakpoint($gamora){
		height: calc(18 / 16 * 1rem);
		margin: calc(2.5 / 16 * 1rem) 0.25em calc(20 / 16 * 1rem) 0;
	}

	@include breakpoint($groot){
		height: calc(19.229 / 16 * 1rem);
	}
}

/**
 * 1. Sidebar Overrides
 */

.sidebar input[type="checkbox"],
.sidebar input[type="radio"]{
	height: calc(14 / 16 * 1rem);

	@include breakpoint($groot){
		height: calc(18 / 16 * 1rem);
	}
}

input[type="checkbox"] + label,
input[type="radio"] + label{
	// box model
	margin-bottom: (15 / 16 * 1rem);
	width: calc(100% - 1em - 0.5ch);
	// layout
	float: left;

	@include breakpoint($gamora){
		width: calc(100% - 1.25em);
	}
}

/**
 * 2. Views Module Forms
 */
@import "forms/drupal-views";

/**
 * 3. Webform Module
 */
@import "forms/drupal-webform";

/**
 * 4. Search
 */
@import "../modules/search";