/**
 * G. Boxes
 *
 * Boxes for containing things, usually with a background color or
 * texture.
 *
 * Table of Contents
 *
 * 1. Default Box
 * 2. Note
 * 3. Alert
 * 4. Captioned Figures
 * 5. Pull Quotes
 * 6. Full Box
 * 7. UI Group
 */
 
/**
 * 1. Default Box
 */
.notice,  // deprecated
.box,
p.box{  // WYSIWYG
	// box model
	padding: 0 1em;
	// layout
	overflow: hidden;
	// typography
	color: mix(black, $sky-blue, 66%);
	// backgrounds & borders
	background-color: transparentize(mix(white, $sky-blue, 80%), .05);
	background-image: url("images/texture-1.png");
	border-radius: 2px;
}

.notice h2,  // deprecated
.box h2{
	color: mix(black, $sky-blue, 50%);
}

.notice h3,  // deprecated
.box h3,
.notice h4,  // deprecated
.box h4,
.notice h5,  // deprecated
.box h5{
	color: mix(black, $sky-blue, 66%);
}

.box.supplement,
.box.supplement-alt-1-2{
	
	@include breakpoint($lil-groot){
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	@include breakpoint($gamora){
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

/**
 * 2. Note
 *
 * Stands out a little bit more than a default box.
 */
.notice,  // deprecated
.note{
	border-left: 5px solid mix(white, $sky-blue, 60%);
	
	@media screen and (min-width: 22em){
		padding-left: calc(1em - 5px);
	}
}

/**
 * 3. Alerts
 *
 * Stands out a lot more than a default box.
 */
.alert,
p.alert{
	// box model
	//border: 1px solid $wine;  // Conflicts with sitewide alert JS. Might be worth changing how that works.
	// typography
	color: $wine;
	// backgrounds & borders
	background-color: $highlight;
	border-radius: 0;
}
#sitewide-alert{
	// box model
	border-radius: 0;
	width: 100%;
	// animations and transitions
	transition: all .5s ease-in;
}

/**
 * 4. Captioned Figures
 *
 * Lends a bit more readability to boxes while still standing out
 * against the content a little bit more.
 */
.caption-box{
	// typography
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, .5);
	// backgrounds and borders
	background-color: hsla(0, 0%, 95%, .95);
	
	img{
		margin-bottom: 0.625rem;
	}
}

/**
 * 5. Pull Quotes
 */
.pull-box{
	// backgrounds and borders
	background-color: transparentize($evergreen-neue, .05);
	// typography
	color: hsl(0, 0%, 100%);
	-moz-osx-font-smoothing: auto;  // Better rendering of reverse-out text
	 -webkit-font-smoothing: subpixel-antialiased;  // Better rendering of reverse-out text
	
	@media screen and (min-width: 43em){
		margin-bottom: 1.071428571428571em;  // 15px
	}
	
	a{
		// box model
		border-bottom: 2px solid mix($tint, $blueberry-susan, 66%);
		// typography
		color: mix($tint, $blueberry-susan, 75%);
	}
	
	a:visited{
		// box model
		border-bottom-color: mix($tint, $wine, 66%);
		// typography
		color: mix($tint, $wine, 75%);
	}
	
	a:hover{
		// box model
		border-bottom-color: mix($tint, $sky-blue, 66%);
		// typography
		color: mix($tint, $sky-blue, 66%);
	}
}

.pull-box-alt{
	background-color: $sky-blue;
}

.pull-quote{
	// box model
	margin: 0.44117647058824em 0 0.88235294117647em 0;  // 7.5/17 15/17
	// typography
	@include base-type-lg;
	font-style: italic;
	
	@media screen and (min-width: 70em){
		// box model
		margin: 0.36358347876672em 0 0.72716695753345em 0;  // 10/27.504 20/27.504
		// typography
		font-size: 1.719rem;  // 27.504px
		line-height: 1.09075043630017;  // 30/27.504
	}
	
	@media screen and (min-width: 125em){
		// box model
		margin: 0.48200514138817em 0 0.96401028277635em;  // 15/31.12 30/31.12
		// typography
		font-size: 1.945rem;  // 31.12
		line-height: 1.44601542416452;  // 45/31.12
	}
}

/**
 * 6. Full Box
 *
 * A box with a header and possibly a footer.
 *
 * @section box-full
 */

.full-box{
	border: 1px solid $sky-blue;
	padding: 0;
	background: $sky-blue url(images/texture-1.png);
}
.full-box h2,
.full-box h3{
	color: #fff;
}
.full-box > .box{
	background-color: #f5f5f5;
}

/**
 * 7. UI Group
 *
 * A different kind of box; a group of elements, typically UI
 * that need visual separation from one another, or from other
 * elements.
 
 * @section ui-group
 */
.ui-group{
	// box model
	border: 1px solid mix(white, $blueberry-susan, 75%);
	margin-bottom: 0.46875rem;  // 7.5px
	padding: 0 1em;
	// layout
	overflow: hidden;
	// backgrounds & borders
	background-color: mix(white, $blueberry-susan, 85%);
	border-radius: 2px;
		
	&:hover{
		// backgrounds & borders
		background-color: mix(white, $blueberry-susan, 90%);
		border-color: mix(white, $blueberry-susan, 80%);
		// transitions
		-webkit-transition: all .2s ease-out;
		        transition: all .2s ease-out;
	}
	
	@media screen and (min-width: 32em){
		&.unit-1-2{
			margin: 0.234375rem;  // 3.75px
			width: calc(50% - 0.46875rem);  // 7.5px
		}
	}
	
	@media screen and (min-width: 43em){
		&.unit-1-3{
			margin: 0.234375rem;  // 3.75px
			width: calc(33.3333333333% - 0.46875rem);  // 7.5px
		}
		
		.media{
			//padding: 0 0.9375rem;  //17px
			width: 100%;
		}
	}
}