/**
 * A. Header
 *
 * The header at the top of every page.
 *
 * Table of Contents
 *
 * 1. Mobile Header Widgets
 * 2. Logo
 * 3. Header Search
 * 4. Primary Nav
 * 5. Secondary Nav
 * 6. Site Name
 */

/**
 * 1. Mobile Header Widgets
 *
 * Togglable dropdowns for internal user links and search bar.
 */
.header-dropdowns{
	width: 100%;
	
	@include breakpoint($gamora){
		// box model
		width: 49%;
		// layout
		float: right;
	}
	
	@include breakpoint($drax){
		width: 40%;
	}
	
	@include breakpoint($groot){
		width: 20%;
	}
}

input[name="header-toggle"]{  // Don't show the checkboxes
	//display: none; Note, this causes a bug in Mobile Safari where one checkbox label can’t be pressed immediately after another.
	position: absolute;  // Removes from the document flow
	visibility: hidden;  // Hides the checkbox
}
input + .header-dropdown{
	max-height: 0;
	overflow: hidden;
	transition: .5s all ease;
}
input:checked + .header-dropdown{
	max-height: 8em;
	transition: .5s all ease;
}
.internal-users,
[role="search"]{
	// box model
	width: 100%;
}

.internal-users{
	overflow: hidden;
	background-color: mix(white, $blueberry-susan, 80%);
}
.internal-users > li{
	// box model
	padding: 0.673213669603561em;  // 8/11.8833
	width: 50%;
	// layout
	float: left;
}

#search-flag + .header-dropdown{
	@include breakpoint($gamora){
		max-height: none;
		overflow: visible;
	}
}

[role="search"]{
	margin: 0;
	padding: .618em;
	overflow: hidden;
	background-color: mix(white, $evergreen-neue, 80%);
	
	@include breakpoint($gamora){
		// box model
		padding: .618em .618em .618em 0;  //Use padding for height calculations in JS.
		//width: 40%;
		// layout
		float: right;
		// backgrounds & borders
		background-color: transparent;
	}
	
	@include breakpoint($groot){
		//width: 20%;
	}
}

.page-header{
	width: 100%;
	
	@include breakpoint($gamora){
		width: 51%;
	}
	
	@include breakpoint($drax){
		width: 60%;
	}
}

/**
 * 2. Logo
 */
.logo{
	// box model
	width: 58%;
	margin: .618em 2% 0 2%;
	// layout
	float: left;
	
	@include breakpoint($starlord){
		//width: 58%;
	}
	
	@include breakpoint($gamora){
		// box model
		//width: 48%;
		width: auto;
		// layout
		float: none;
	}
	
	@include breakpoint($drax){
		//width: 36%;
	}
	
	@include breakpoint($groot){
		// box model
		margin-right: auto;
		margin-bottom: 1em;
		margin-left: auto;
		//width: 20%;
		// layout
		float: none;
		// typography
		text-align: center;
	}

	a,
	a:visited,
	a:hover{
		border-bottom-width: 0;
	}
	
	img{
		max-height: 4em;
		
		@media screen and (min-width: 125em){
			max-height: 6em;
		}
	}
}
/**
 * 3. Header Search
 *
 * @section mod-header-search
 */
[for="q"]{
	height: 0;
	width: 0;
	display: block;
	overflow: hidden;
	position: absolute;
}
.off-canvas{
	margin-right: 2%;
}
.search-toggle,   // button to reveal search
.student-toggle{  // button to reveal profile
	// box model
	padding: 0 .618em;
	min-width: 22px;
	// layout
	float: right;
	// typography
	text-align: center;
	text-decoration: none;
	
	@media screen and (min-width:43em){
		display: none;
	}
}
.search-toggle{
	border-radius: 0 0 4.5px 0;
}
.student-toggle{
	border-right: 1px solid #333;
	border-radius: 0 0 0 4.5px;
}
.search-toggle,
.student-toggle{
	border-bottom-width: 0;
}
.search-toggle:hover,
.student-toggle:hover{
	// backgrounds & borders
	//background-color: $blueberry-susan; // Causes a weird bug on mobile that keeps active link purple
	// misc
	cursor: pointer;
}

.search-toggle > img,
.student-toggle > img{
	margin: 0.441176470588235em auto;
	width: 17px;
	display: block;
}

.student-toggle > img{
	padding-top: 1px;  // Compensate for matching search icon height
}

#top-search-query,  // deprecated, use #q
#q,
.top-search button{
	margin-bottom: 0;
}

[placeholder]:focus::-webkit-input-placeholder{  // Safari & Chrome
	color: transparent;
}
[placeholder]:focus::-moz-placeholder{  // Firefox
	color: transparent;
}
[placeholder]:focus:-ms-placeholder{  // IE
	color: transparent;
}

.internal-users,
.search-tools{
	margin-bottom: 0;
	@include base-type;
	
	@media screen and (min-width: 32em){
		@include base-type-lg;
	}
}
.internal-users{
	margin-top: 0;
	
	img{
		height: 10px;
		width: 10px;
	}
}
.search-tools{
	// box model
	margin-left: 0;  // Can be removed once .element-list propogates on .search-tools
	padding-left: 0;  // Can be removed once .element-list propogates on .search-tools
	// typography
	white-space: nowrap;  // Prevents Directories from sitting down on the next line; not super-important.
	
	li{
		display: inline;
		
		&::after{
			content: " | ";
		}
		
		&:last-child::after{
			content: "";
		}
	}
}

li.internal-users-alt{
	display: none;
	
	img{
		height: 10px;
		width: 10px;
	}
	
	@media screen and (min-width: 43em){
		display: inline;
	}
}
    
.menu-button,
.search-toggle,
.student-toggle{
	font-size: 1.063rem;  // 17px
	line-height: 1.764705882352941;  // 30/17
}

.top-nav,
.top-nav-list,
.menu-button,
.search-toggle,
.student-toggle,
.top-nav-list .active{
	color: white;
	background-color: $evergreen-neue;
}
    
/**
 * 4. Primary Nav
 *
 * The green nav at the top of every page.
 */
.top-nav-list{
	// box model
  margin: 0 auto;
  margin-top: 0;
  width: 100%;
	min-height: 44px;
  // positioning
  position: relative;
  // tyopography
  text-align: center;
  // list
  list-style-type: none;
  
  @include breakpoint($lil-groot){
		// layout
		align-items: stretch;
		display: flex;
	}
  
  &:before,
  &:after{
  	width: 0;
    display: table;
    clear: both;
    content: "";
  }
}

.top-nav-list > li{
	display: inline-block;
	
	
	@include breakpoint($lil-groot){
		// box model
		border-left: 1px solid #333;
		min-height: 44px;  // IE8
		// layout
		display: inline-block;  // IE9
		display: flex;
		flex-grow: 1;
		overflow: hidden;
    
    &:first-child{
    	// box model
    	border-left-width: 0;
			// layout
			flex-grow: 0;
		}
	}
  
  @include breakpoint($starlord){
		// box model
		width: 20%;
		// layout
		flex-grow: 1;
		// typography
		letter-spacing: normal;
	}

	@include breakpoint($gamora){
		height: auto;
	}
}

.top-nav-list a,
.top-nav-link{
	// box model
	padding: 0.46875rem 1rem;  // 7.5/16
	border-bottom-width: 0;
	width: 100%;
	// layout
	display: block;
	
	&:hover{
		// backgrounds & borders
		background-color: mix(white, $blueberry-susan, 33%);
		// typography
		color: white;
		// misc
		box-shadow: 0 0 1px $highlight inset,
		            0 0 1em transparentize($highlight, 0.75) inset;
		transition: all .1s ease-out;
		
	}
	
	&:focus{
		background-color: $blueberry-susan;
	}
	
	@media screen and (min-width: 20em){
		// box model
		padding: 0.46875rem 0.25rem;  // 7.5/16 2.48/16
		// layout
		align-items: center;
		display: flex;
		justify-content: center;
		// typography
		font-weight: normal;
		// misc
		text-shadow: 0 1px 1em hsl(275, 33%, 11%);
	}
	
	@media screen and (min-width: 22em){
		// box model
		padding-right: .66em;
		padding-left: .66em;
	}
	
	@media screen and (min-width:70em){
		font-size: inherit;
		line-height: inherit;
	}
}
.top-nav-list a,
.top-nav-list a:visited,
.top-nav-link,
.top-nav-link:visited{
	// typography
	color: #fff;
	
	@media screen and (min-width:22em){
		font-weight: bold;
	}
	
	@media screen and (min-width:32em){
		text-shadow: none;
	}
	
	@media screen and (min-width: 43em){
		font-weight: bold;
	}
}

/**
 * 5. Secondary Nav
 *
 * The textured nav immediately below the primary nav on the
 * homepage only.
 */
.secondary-nav-list{
	// box model
	border-top: 1px solid $evergreen-old-style;
	margin: 0;
	padding: 0;
	// layout
	overflow: hidden;
	// typography
	text-align: center;
	// backgrounds & borders
	background: $evergreen-neue url(images/texture-1.png);
	// list
	list-style-type: none;
	
	> li:first-child{
		margin-top: 0.71315146386224em;  // 7.5/10.5167
	}
	
	> li:last-child{
		margin-bottom: 1.42630292772448em;  // 15/10.5167
	}
	
	@media screen and (min-width: 20em){
		> li:first-child,
		> li:last-child{
			margin: 0;
		}
		
		> li{
			margin: 0;
			width: 25%;
			//layout
			float: left;
			//typography
			line-height: 2.85260585544895;
		}
	}
	
	@media screen and (min-width: 22em){
		// layout
		display: flex;
		justify-content: flex-end;

		> li{
			// box model
			width: auto;
			// layout
			display: inline-block;  // IE9
			float: none;
			// typography
			white-space: nowrap;
		}
	}
	
	@media screen and (min-width: 43em){
		> li{
			@include base-type;
			line-height: 3.21428571428571;  // 45/14
		}
	}
}
.secondary-nav-link{

	&,
	&:visited{
		// box model
		border-bottom: 0;
		height: 100%;
		width: 100%;
		// layout
		display: block;
		// typography
		color: white;
		font-weight: normal;
		
		@media screen and (min-width: 22em){
			// box model
			height: auto;
			padding: 0 1em;
			// layout
			display: inline-block;
		}
	
		@media screen and (min-width:70em){
			font-size: inherit;
			line-height: inherit;
		}
	}
	
	&:hover{
		// backgrounds & borders
		background-color: mix(white, $blueberry-susan, 33%);
		// typography
		color: white;
		// misc
		box-shadow: 0 0 2px $highlight inset;
		transition: all .1s ease-out;	
	}
	
	&:focus{
		background-color: $blueberry-susan;
	}
}

/**
 * 6. Site Name
 *
 * The name of the department’s site, e.g. About Evergreen, Web
 * Resources, or Registration
 */
.site-name{
	margin-top: 3.75rem;  // 60/16
	
	h1{
		
		@media screen and (min-height: 35em){  // Note this is a height-based media query
			margin-bottom: 0.673904em;
		}
	}
}