/**
 * C. Homepage Hero Image
 *
 * @section mod-hero-homepage
 */
// Zoom in on the center of images on small screens
.homepage-hero,
.homepage-hero-content{
	height: 100%;
	overflow: hidden;
}

.homepage-hero{
	
	@include breakpoint($lil-groot){
		// box model
  	width: 100%;
    // layout
  	overflow: hidden;
  	// positioning
    position: relative;  // Creates a stage for absolute positioning of child elements
	}
	
	@include breakpoint($drax){
		display: table;  // Gives it a block formatting context
	}
}

.homepage-hero-picture img{  // .homepage-hero-picture is the picturefill image
	display: block;
	
	@include breakpoint($drax){
		width: 100%;
	}
}

.homepage-hero-img{  // fallback image
	margin-left: -50%;
	width: 200%;
	max-width: none;
	// layout
	display: block;
	
	@include breakpoint($starlord){
		.homepage-hero-img{
			// box model
			margin-left: -25%;
			width: 150%;
		}
	}
	
	@include breakpoint($gamora){
		.homepage-hero-img{
			margin-left: -10%;
	    width: 120%;
		}
	}
	
	@include breakpoint($drax){
		.homepage-hero-img{
			margin-left: 0;
			width: 100%;
		}
	}
	
	.homepage-hero-img-alt &{
		margin-left: 0;
	}
}

.homepage-hero a,
.homepage-hero a:link,
.homepage-hero a:visited,
.homepage-hero a:hover{
	border-width: 0;
	color: inherit;
	font-weight: inherit;
}
.homepage-hero .call-to-action{
	// box model
	padding: 0 2%;
	// layout
	display: inline-block;
	// typography
	color: white;
	text-shadow: none;
	// backgrounds and borders
	background-color: $evergreen-neue;
	
	&:hover{
		background-color: $sky-blue;
	}
	
	@include breakpoint($drax){
		font-size: 1.82rem;  // Step 3
		line-height: 1.5451174289246; // 45 / 29.124
	}
}

.homepage-hero-content{
	// box model
	width: 100%;
	max-width: 82em;
	// backgrounds & borders
	background-color: $blueberry-susan;
	
	@include breakpoint($lil-groot){
		// layout
		display: flex;  // W3C
		flex-direction: column;
		// positioning
		position: absolute;
		bottom: 0;
		// backgrounds & borders
		background-color: transparent;
	}
	
	@media screen and (min-width: 25em){
		justify-content: center;
	}
	
	@include breakpoint($gamora){
		height: 100%;
	}
}

.homepage-hero-content .box{
	margin: 0;

	@include breakpoint($lil-groot){
		position: absolute;
		bottom: 0;
	}
}

.homepage-hero-content-grad{
	justify-content: flex-end;
}

.homepage-hero-content-grad .call-to-action{
	//margin-bottom: 0;
}

.homepage-hero-content-grad .caption-box{
	display: none;
}

.homepage-hero-content-grad .homepage-hero-copy{
	// box model
	//margin: 0 0 2em 0;
	//padding: 0 1em;
	width: calc(66.6666666667% - 1em);
	
	@include breakpoint($starlord){
		width: calc(50% - 1em);
	}
	
	@include breakpoint($gamora){
		// box model
		width: calc(100% - 2em);
		// typography
		text-align: center;
	}
	// backgrounds & borders
	//background-color: transparentize($blueberry-susan, 0.5);
}

.homepage-hero-content-grad h1{
	margin: 0;
}

.homepage-hero-content-grad .homepage-hero-copy img{
	//max-width: 66.6666666667%;
	max-height: calc(250 / 16 * 1rem);
	
	@include breakpoint($gamora){
		margin-bottom: -2.2em;
		width: 66.6666666667%
	}
	
	@include breakpoint($drax){
		margin-bottom: -2.5em;
	}
}

.homepage-hero-copy{
	margin: 0 calc(15 / 14 * 1em);
	
	
	@include breakpoint($lil-groot){
		// box model
		width: calc(66.6666666667% - 1em);
		// layout
		float: left;
	}
	
	@include breakpoint($starlord){
		// box model
		margin: 0 1em;
		width: calc(50% - 1em);
		color: white;
		// typography
		text-shadow: 0 1px 2px mix(black, $blueberry-susan, 80%);
	}
	
	@include breakpoint($drax){
		width: calc((3 / 7 * 100%) - 1em);  //3/7
	}
	
	.homepage-hero-copy-alt &{
		
		@include breakpoint($lil-groot){
			//layout
			align-self: flex-end;
			float: right;
		}
		
		@include breakpoint($starlord){
			//layout
			float: right;  //IE9
			align-self: flex-end;  //W3C
		}
	}
	
	.homepage-hero-img-detailed &{
		//box model
		height: 100%;
		margin: 0;
		padding: 0 calc(7.5 / 15 * 1em);
		width: 66.6666666667%;
		//backgrounds & borders
		background-color: transparentize($blueberry-susan, .5);
		border-radius: 2px;
		
		@include breakpoint($rocket){
			padding: 0 calc(15 / 14 * 1em);
		}
		
		@include breakpoint($starlord){
			height: auto;
			width: 50%;
		}
		
		@include breakpoint($gamora){
			padding: 0 calc(15 / 17 * 1em);
		}
		
		@include breakpoint($drax){
			width: calc(3 / 7 * 100%);
		}
		
		@include breakpoint($groot){
			padding: 0 calc(30 / 19.23333333333 * 1em);
		}
	}
}

.homepage-hero-copy h1{
  font-size: 1.202rem;
	line-height: 1.169925124792013;  //22.5/19.232
	
	@include breakpoint($lil-groot){
		//typography
		color: white;
		text-shadow: 0 2px 1px mix(black, $blueberry-susan, 80%);
	}
	
	@include breakpoint($gamora){
		//typography
  	font-size: 1.416rem;
  	line-height: 1.324152542372881;  //30/22.656
	}
	
	@media screen and (min-width: 86em){
		//typography
  	font-size: 2.291rem;  //36.656
  	line-height: 1.227629855958097;  //45/36.656
	}
}