/**
 * Icons
 */

/**
 * 1. Inline Icons
 *
 * Icons that appear before strings of text. For example, [x] Close,
 * where [x] is the icon.
 */

.icon{
	display: inline-block;
	fill: currentColor;
}

.inline-icon{
	// box model
	margin-right: .25em;
	max-height: 1em;
	// layout
	display: inline;
}

/**
 * 2. Related Nav (aka The Transporter)
 *
 * Related links with iconographic circles.
 */
.transporter > li{
	// box model
	margin: 0.9375rem 0;  // 15/16
	// layout
	display: block;
	vertical-align: top;
	float: left;
	// typography
	text-align: center;
}

.transporter a{

	&,
	&:visited{
		// typography
		color: $evergreen-neue;
	
		.related-nav-icon{
			background: $evergreen-neue;
		}
	}
	
	&:hover{
		color: $sky-blue;
		
		.related-nav-icon{
			background: $sky-blue;
			// misc
			box-shadow: 0 0 .2em $highlight inset;
		}		
	}
}

.transporter a:hover .icon{
	transform: scale(0.8, 0.8);
}

.transporter-icon{
	// box model
	padding: 15%;  // Whatever feels right.
	padding-top: 85%;  // For responsive SVG.
	// positioning
	position: relative;  // For responsive SVG.
	// typography
	color: white;
	text-align: center;
	//backgrounds & borders
	background-color: $evergreen-neue;
	border-radius: 50%;
	// misc
	transition: all 0.2s;

	@media screen and (min-width: 22em){
		margin: 0 auto;
		padding-top: 50%;
		width: 75%;
	}
	
	.icon{
		// box model
		//width: 60%;  // 100 - 25 - 15 to account for container width and padding
		// positioning
		position: absolute;  // For responsive SVG.
		top: 0;
		left: 0;
		// behavior
		transform: scale(0.6);
		transition: transform .1s ease;
	}
}