/**
 * H. Media Block
 *
 * A common pattern wherein copy is tightly coupled to a graphic.
 *
 * .media
 * +---------+------------------+
 * |         |                  |
 * | .media- | .media-          |
 * |  img    |  body            |
 * |         |                  |
 * +---------+------------------+
 */
.media{
	clear: left;  // IE 9
	display: block;  // IE 9
	display: flex;  // W3C
}
.media-img,
.media-img:link{
	// box model
	border-bottom-width: 0;
	margin-bottom: 1.071428571428571em;  // 15px
	padding-right: 1.071428571428571em;  // 15px
	max-width: 31.3333333333%;
	// layout
	float: left;  // IE9
	flex-shrink: 0;  // Do not allow the image to shrink. Note: this does respect the max-width property.
	
	@include breakpoint($gamora){
		padding-right: 0.882352941176471em;  // 15px
	}
}

// Vertically center .media-img. Extends .media-img or .media-body.
.media-img-alt,  // deprecated, use .media-child-alt instead
.media-child-alt{
	align-self: center;  // W3C
}

.media-img img{
	margin-top: 0.46875rem;  // Align the .media-body content with the .media-img content.
	display: block;
}

// Extends .media-img img(?)
.media-img-icon{
	max-height: 3.75rem;
}

.media-body{
	// layout
	flex: 1 1 auto;
	overflow: auto;  // IE 9  // Gives block formatting context
	/**
	 * Alternate way to give block formatting context
	 * display: table-cell;  // Gives block formatting context (pretty nifty!): http://www.youtube.com/watch?v=8YtQwv1cUVs
	 * width: 3000px;  // Stretches box to fit the remaining width; this is not the actual value that comes out.
	 */
}

.media-body > :first-child{
	margin-top: 0.46875rem;  // Align the .media-body content with the .media-img content.
}

// Put .media-img on the right. Extends .media
.media-alt{
	flex-direction: row-reverse;
}
.media-alt .media-img{
	margin-right: 0;
	margin-left: 2%;
	float: right;  // IE 9
}

// Put .media-img on the top. Extends .media
.media-column{
	flex-direction: column;
	align-items: stretch;
	        
	.media-img{
	  padding-right: 0;
	  max-width: 100%;
	  float: none;  // IE 9
	  text-align: center;
	  
	  img{
		  margin: 0 auto;
	  }
	}
}

/*@media screen and (min-width:32em){
	.media-list .media{
		//box model
		width: 31.3333333333%;
		//layout
		display: inline-block;
		vertical-align: top;
	}
	.media-list .media:nth-child(3n){
		margin-right: 0;
	}
}*/