/**
 * D. Search
 *
 * The search form on the top right of every page.
 */

[type="search"]{
	margin-right: -30px;  //IE8
	margin-right: -1.719rem;
	position: relative;
	width: 100%;
	-webkit-appearance: none;
	   -moz-appearance: none;
}


.top-search button,  //deprecated
.search button{
	//box model
	border-color: mix($tint, $blueberry-susan, 60%);
	border-width: 1px 1px 1px 0;
	height: 27.506px;  //IE8
	height: 1.719rem;
	padding: 2px;
	width: 27.506px;  //IE8
	width: 1.719rem;
	//layout
	float: right;
	vertical-align: top;
	//position
	position: relative;
	//backgrounds & borders
	background: none #fff;
	border-radius: 0 0 0 0;
	//miscellaneous
	cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	box-shadow: none;
	
	&:hover{
		background: none #ccc;
	}
}

.top-search-button,  //deprecated
.search-button{
	//box model
	width: 18px;
	//layout
	vertical-align: top;
}