/**
 * D. Search
 *
 * The search form on the top right of every page.
 */

[type="search"],
.edit-search-block-form--2{  // Drupal service center site top search form
	margin: 0 -1.875rem 0 0;
	position: relative;
	width: 100%;
	appearance: none;
}

//.top-search button,  //deprecated
.search-button,
.edit-submit{  // Drupal service center site top search form
	// box model
	border-color: mix($tint, $blueberry-susan, 60%);
	border-width: 1px 1px 1px 0;
	height: 1.875rem;
	margin-bottom: 0;
	padding: 2px;
	width: 1.875rem;
	// layout
	float: right;
	vertical-align: top;
	// position
	position: relative;
	// backgrounds & borders
	background: none #fff;
	border-radius: 0 0 0 0;
	// miscellaneous
	cursor: pointer;
	appearance: none;
	box-shadow: none;
	
	&:hover{
		background: none #ccc;
	}
}
	
.search-button > img{
	max-height: 100%;
}