/**
 * Homepage Hero Image
 *
 * @section mod-hero-homepage
 */
//Zoom in on the center of images on small screens
.homepage-hero,
.homepage-hero-content{
	height: 100%;
	overflow: hidden;
}
.homepage-hero-img{
	margin-left: -50%;
	width: 200%;
	max-width: none;
	//layout
	display: block;
	
	.homepage-hero-img-alt &{
		margin-left: 0;
	}
}
.homepage-hero a,
.homepage-hero a:link,
.homepage-hero a:visited,
.homepage-hero a:hover{
	border-width: 0;
	color: inherit;
	font-weight: inherit;
}
.homepage-hero .call-to-action{
	//box model
	padding: 0 2%;
	//layout
	display: inline-block;
	//typography
	color: white;
	//backgrounds and borders
	background-color: $blueberry-susan;
	
	&:hover{
    	background-color: $sky-blue;
	}
}
.homepage-hero-content{
	max-width: 82em;
}
.homepage-hero-copy{
	margin: 0 2%;
	
	h1{
    	@include x-rem(font-size, 1.202);
		line-height: 1.169925124792013;  //22.5/19.232
		
		&:first-line{
			@include x-rem(font-size, 1.416);
			line-height: 0.993114406779661;  //22.5/22.656
		}
	}
	
	em{
		font:{
			style: normal;
			weight: bold;
		}
		letter-spacing: .075em;
    	text-transform: uppercase;
	}
	
	.homepage-hero-copy-alt &{
		float: right;
	}
	
	.homepage-hero-img-detailed &{
		//box model
		margin-left: 0;
		padding: 0 2%;
		//backgrounds & borders
		background-color: transparentize($blueberry-susan, .66);
		border-radius: 2px;
	}
}
@media screen and (min-width: 20em){
	.homepage-hero{
		//box model
    	width: 100%;
	    //layout
    	overflow: hidden;
    	//positioning
	    position: relative;  //Creates a stage for absolute positioning of child elements
	}
	.homepage-hero-content{
		//overflow: hidden;
		position: absolute;
		bottom: 0;
		
		.box{
	    	position: absolute;
	    	bottom: 0;
		}
	}
	.homepage-hero-copy{
		width: 66.6666666667%;
    	
    	h1{
    		//box model
    		//margin: 0.779950083194676em 0;  //15/19.232
    		//typography
    		color: white;
    		text-shadow: 0 2px 1px mix(black, $blueberry-susan, 80%);
    	}
	}
}
@media screen and (min-width: 22em){
	.homepage-hero-copy h1{
    	//margin: 1.559900166389351em 0;  //30/19.232
	}
    .homepage-hero-copy h1:first-line{
		@include x-rem(font-size, 1.945);
		line-height: 0.723007712082262;  //22.5/31.12
	}
}
@media screen and (min-width: 32em){
	.homepage-hero-content{
		//layout
		display: -webkit-flex;  //Safari, Android Browser
		display:  -ms-flexbox;  //IE 10, IE Mobile
		display:         flex;  //W3C
		//flexbox
		-webkit-flex-direction: column;  //Safari
		    -ms-flex-direction: column;  //IE10, IE Mobile
		        flex-direction: column;
		-ms-flex-pack:           center;  //IE10, IE Mobile
		-webkit-justify-content: center;  //Safari
		        justify-content: center;
	}
	.homepage-hero-copy{
		//box model
		width: 64.6666666667%;
		color: white;
		text-shadow: 0 1px 2px mix(black, $blueberry-susan, 80%);
			
		//h1{
    		//margin: 2.339850249584027em 0;  //45/19.232
		//}
		
		.homepage-hero-copy-alt &{
			//layout
			float: right;  //IE9
			-webkit-align-self: flex-end;  //Safari
			        align-self: flex-end;  //W3C
		}
	}
	.homepage-hero-img{
		//box model
		margin-left: -25%;
		width: 150%;
	}
}
@media screen and (min-width: 43em){
	.homepage-hero-content{
		height: 100%;
	}
	.homepage-hero-copy{
		//margin: 0 6%;
		width: 48%;
		
    	h1{
    		//box model
	    	//margin: 3.972457627118644em 0;  //90/22.656
	    	//typography
	    	@include x-rem(font-size, 1.416);
	    	line-height: 1.324152542372881;  //30/22.656
	    	
	    	&:first-line{
		    	@include x-rem(font-size, 2.291);
				line-height: 0.818419903972065;  //30/36.656
	    	}
    	}
	}
	.homepage-hero-img{
		margin-left: -10%;
    	width: 120%;
	}
}
@media screen and (min-width: 70em){
	.homepage-hero{
    	display: table;  //Gives it a block formatting context
	}
    .homepage-hero-copy{
	    width: 28.571428571428571%;
    }
	/*.homepage-hero-copy h1{
		//box model
    	margin: 4.092099519860323em 0;  //150/36.656
    	//typography
    	@include x-rem(font-size, 2.291);  //36.656
    	line-height: 1.227629855958097;  //45/36.656
	}
    .homepage-hero-copy h1:first-line{
		@include x-rem(font-size, 3.146);  //50.336
		line-height: 0.893992371265099;  //45/50.336
	}*/
    .homepage-hero-img{
	    margin-left: 0;
	    width: 100%;
    }
}
@media screen and (min-width: 86em){
	/*.homepage-hero-copy{
	    width: 42.857142857142857%;
    }*/
	.homepage-hero-copy h1{
		//box model
    	//margin: 4.092099519860323em 0;  //150/36.656
    	//typography
    	@include x-rem(font-size, 2.291);  //36.656
    	line-height: 1.227629855958097;  //45/36.656
    	
    	&:first-line{
    		@include x-rem(font-size, 3.146);  //50.336
    		line-height: 0.893992371265099;  //45/50.336
    	}
	}
}