/**
 * Tertiary Nav
 *
 * @subsection molecules/_tertiary-nav
 */

#tertiary-nav{
	//box model
	margin: 0 auto;
	max-width: 96%;
	
	@media screen and (min-width: 32em){
		margin: 0 auto 1rem;
		max-width: 66.6666666666%;
	}
	
	@media screen and (min-width: 70em){
		//box model
		margin-top: 1rem;
		width: 17.803302225413%;
		//position
		position: absolute;  //Removes nav from the document flow
	}
}

#tertiary-nav,
.tertiary-nav-h{
    @include base-type;
}

#tertiary-nav .accordion{
    border-width: 0;
    background-color: transparent;
    
    dd{
	    background-color: hsla(0, 0%, 100%, .25);
    }
}
.tertiary-nav-list,
.tertiary-related-links,
.tertiary-related-links > li > ul{
	margin-left: 0;
	list-style-type: none;
}
.tertiary-nav-h{  //heading for tertiary nav in wider views
	margin-top: -1px;  //compensate for border
	
	@media screen and (min-width: 70em){
		margin: 0.779950083194676em 0 0.363976705490849em 0; //1.169925124792013em 0 0.389975041597338em 0;
		@include x-rem(font-size, 1.202);
		line-height: 1.559900166389351;  //30/19.232
	}
}
.tertiary-nav-list li,
.tertiary-related-links > li > ul > li,
#tertiary-nav dd > ul li{  //WYSIWYG
    margin:0.535714285714286em 0 1.071428571428571em 0;  //22.5/14/3  15/14  So, 22.5 + 7.5 + 15 = 45
}
.tertiary-nav-list a,
#tertiary-nav dd > ul a,  //WYSIWYG
.tertiary-related-links a{
	//box model
	border-bottom-width: 0;
	//typography
	font-weight: normal;
}

@media screen and (min-width: 70em){
	#tertiary-nav{
		//box model
		//margin-right: 0;
		//margin-left: -40.943683409436834%;  //It took weird math to get here.
		//width: 37.747336377473364%;  //It took weird math to get here.
		//layout
		//float: left;
		//positioning
		//position: absolute;  //Removes nav from the document flow
	}
	.tertiary-nav-h,
	a.tertiary-nav-h{  //heading for tertiary nav in wider views
		border-bottom: 1px solid mix(black, $sky-blue, 50%);
		margin-top: -1px;  //compensate for border
		display: block;
		color: mix(black, $sky-blue, 50%);
		font-weight: bold;
	}
}

/**
 * Don't delete this! It's for the new nav arrangement, but we
 * don't want to go live with it right now and screw everything
 * up.
 */
/*#tertiary-nav{
	max-width: 96%;
	
	@media screen and (min-width: 32em){
		margin: 0 auto 1rem;
		max-width: 66.6666666666%;
	}
	
	@media screen and (min-width: 43em){
		margin-top: 1rem;
		width: 17.803302225413%;
	}
}*/

/**
 * Homepage Tertiary Nav
 *
 * @section tertiary-nav-homepage
 */
#tertiary-nav.tertiary-nav-homepage{
	@media screen and (min-width:70em){
		//margin-left: -22.760511882998172%;
		//width: 20.749542961608775%;
		margin-left: -25.520833333333%;
		width: 23.484848484848%;
	}
}

/**
 * CSS Accordion
 *
 * An accordion that relies on radio buttons and labels instead of JavaScript.
 *
 * @see http://cssconf.com/talk-seddon.html
 */
[name="accordion-group"]{
	display: none;  //Hide all actual checkboxes; they are activated by their labels
}
.accordion-h::before{
	//layout
	display: inline-block;
	//misc
	content: "▶\00A0";  //non-breaking space
	
	@media screen and (min-width: 70em){
		content: "";
	}
}
[name="accordion-group"] + .accordion-h::before{
  -webkit-transition: -webkit-transform .1s linear;  /*Safari 6*/
          transition:         transform .1s linear;
}
[name="accordion-group"]:checked + .accordion-h::before{
  /*animations, transforms, and transitions*/
  -webkit-transform: rotate(90deg);  /*Chrome, Safari*/
      -ms-transform: rotate(90deg);  /*IE9*/
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform .1s linear;
          transition:         transform .1s linear;
}

.tertiary-nav-h{
	//box model
	margin-bottom: 0;
	padding: 0.631100639515315em 0;  //15/11.884/2
	
	label{
		//typography
		color: $wine;
		//misc
		cursor: pointer;
		
		&:hover{
			color: $sky-blue;
		}
	}
	
	@media screen and (min-width: 70em){
		padding: 0;
		
		label{
			//typography
			color: mix(black, $sky-blue, 50%);
			//misc
			cursor: default;
			
			&:hover{
				color: mix(black, $sky-blue, 50%);
			}
		}
	}
}
[name="accordion-group"] ~ .tertiary-nav-h .accordion-toggle{
	display: inline;
}
[name="accordion-group"]:checked ~ .tertiary-nav-h .accordion-toggle{
	display: none;
}
[name="accordion-group"] ~ h4 .accordion-dismiss{
	display: none;
}
[name="accordion-group"]:checked ~ h4 .accordion-dismiss{
	display: inline;
}
.accordion-body{
	//box model
	border-bottom: 1px solid black;
	height: auto;
	max-height: 0;
	//layout
	overflow: hidden;
	//backgrounds & borders
	background-color: hsla(0, 0%, 100%, .25);
	//misc
	box-shadow: 0 2px 2px $shadow inset;
	//transition
	-webkit-transition: max-height .2s ease 0s;;
	transition: max-height .25s ease 0s;
	
	@media screen and (min-width: 70em){
		border-bottom-width: 0;
		max-height: 500px;
		//backgrounds & borders
		background-color: transparent;
		//misc
		box-shadow: none;
	}
}
#tertiary-nav li:last-child .accordion-body{
	border-bottom-width: 0;
}
[name="accordion-group"]:checked ~ .accordion-body{
	//box model
	max-height: 500px;
	//transition
	transition-duration: .75s;
	
	@media screen and (min-width: 70em){
		padding: 0;
	}
}
ul.accordion-inner{
	padding: 0 2%;  //15/11.884/2
}

/*@media screen and (min-width: 70em){
	.accordion-group label,
	.accordion-group label:hover{
		//typography
		color: black;
		//misc
		cursor: default;
	}
}*/